.playbook-rules {
    margin-top: 24px;

    .overlay {
        background: white;
        width: 100vw;
        height: 100vh;
    }

    .k-overlay__list-item.k-overlay__header {
        padding: 32px 96px 0 96px;
        margin-bottom: 24px;
        flex-shrink: 0;
    }
}

.playbook-modal {
    .v-overlay__content {
        overflow-x: hidden;
    }

    .k-overlay__container {
        padding: 0 !important;
    }
}