.training-report-summary {
    &__general-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .campaign-manager-summary-card__body-item {
        justify-content: space-between;
        align-items: flex-start;
    }

    .campaign-manager-summary-card__body-item:first-child {
        padding: 0 0 16px 0 !important;
    }
  &__sms{
    .campaign-manager-summary-card__body-item:first-child {
      padding: 16px 0 16px 0 !important;
    }
  }

    &-scenario-stats {
        &__chart {
            &-container {
                max-width: 350px;
                margin: -60px auto;
                max-height: 350px;
            }
        }
    }

    &-campaign-info {
        &__right-side {
            margin-right: 24px;

            button {
                min-width: 102px !important;
            }
        }
    }
}
