.training-report-enrollment-template {
    &__body {
        padding: 16px 24px 24px 24px;
        background-color: #fafafa;
        border-radius: 12px;
    }

    &__template-name {
      font-weight: 600;
      font-size: 16px;
      color: #383B41;
    }

    &__created-by {
        color: #757575;
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 1rem;
    }

    &__description {
        font-weight: 400;
        font-size: 12px;
        color: #383B41;
    }
}
.training-report-no-event-message {
    background-color: #f5f7fa;
    padding: 8px;
    border-radius: 8px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #383b41;
  }