$sk-blue:    #26b7f6 !default;
$sk-yellow:    #ffad2c !default;
$sk-yellow-dark:    #df9933 !default;
$sk-pink:    #ee568e !default;
$sk-gray:    #e2e2e2 !default;
$sk-gray-light:    #f1f1f1 !default;
$sk-gray-dark:    #59595b !default;
$sk-text-lightest: #919191;
$sk-text-default: #919191;

$text-colors: (
        default: $sk-text-default,
        lighter: #717171,
        lightest: $sk-text-lightest,
        ultralight: #bababa,
        darkest: #141414,
        white: #fff,
        black: #000,
        pink: $sk-pink,
        blue: $sk-blue,
        yellow: $sk-yellow,
);
$bg-colors: (
        sk-gray: $sk-gray,
        sk-yellow: $sk-yellow,
        sk-yellow-dark: $sk-yellow-dark,
        sk-pink: $sk-pink,
        sk-gray-light: $sk-gray-light,
        white: #fff,
);

$spacing-sizes: (10px, 15px, 20px);
$font-sizes: (10, 11, 12, 13, 14, 15, 16, 18, 24);
$break-tablet: 1200px;