.send-training-select-users {
  &-by-campaign {
    &__container {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      border-radius: 12px;
    }

    &__search {
      display: flex;
      padding: 16px 24px 0 24px
    }
  }
}

.new-training-content-by-language__button {
  border: none !important;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #383b41;
  margin-top: -16px;
  font-weight: 600;
  padding: 0;

  &:before {
    display: none;
  }
}

.send-training-campaign-results-container {
  background: #F2F2F2;
  padding: 16px;
  margin-left:-16px;

  .form-group-horizontal-content__label {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-top: -4px;
  }
}

.stop-enrollment-modal {
  .v-btn.v-cart-icon-wrapper {
    background: #FEF7F7 !important;
    border-color: #B83A3A !important;
  }

  #text--enrollment-dialog-stop-popup-title {
    color: #B83A3A !important;
  }

  .mdi-stop {
    color: #B83A3A !important;
  }
}

.training-preview-dialog {
  max-height: 95% !important;
}
