.target-user-ldap__target-groups {
    .v-list-item--disabled {
        pointer-events: all;
        background-color: transparent;

        .v-ripple__container {
            display: none;
        }
    }
}