.incident-responder-parent {
    .incident-responder {
        padding: 0 8px;
        margin-top: 3px;
        padding-bottom: 35px;

        .no-data {
            &__opacity-blue {
                background-color: #5c7f9b;
            }

            &__opacity-red {
                background-color: #9b7879 !important;
            }

            &__opacity-green {
                background-color: #668267 !important;
            }
        }
    }

    &__link {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.29;
        letter-spacing: normal;
        color: #2196f3;
        cursor: pointer;
    }

    .columns-row__body {
        margin-top: 16px;
    }

    .columns-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 1025px) {
            flex-wrap: wrap;

            .dashboard-cards__skeleton-loading {
                width: calc(50%) !important;
                max-width: calc(50%) !important;
            }
        }

        @media only screen and (max-width: 500px) {
            .dashboard-cards__skeleton-loading {
                width: calc(100%) !important;
                max-width: calc(100%) !important;
            }
        }

        .dashboard-cards {
            min-height: 170px;
            max-height: 170px;
            border-radius: 8px;
            margin: 8px;
            padding: 16px;
            position: relative;
            overflow: hidden;

            &__skeleton-loading {
                width: 25%;
                min-height: 170px;
                border-radius: 8px;
                position: relative;
            }

            .card-header {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;

                .head {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: normal;
                }

                a {
                    text-decoration: none !important;
                }

                i {
                    font-size: 24px !important;
                }
            }

            .card-body {
                font-weight: normal;
                line-height: 1.13;
                letter-spacing: normal;
                color: #fff;

                span {
                    font-size: 20px;
                }

                .biggest {
                    font-size: 44px;
                    line-height: 1;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                }

                .body-row {
                    display: flex;
                    flex-direction: column;
                }

                .body-row__number {
                    font-size: 44px;
                    line-height: 1;
                    letter-spacing: normal;
                    color: #ffffff;
                }

                .body-row__text {
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: normal;
                    color: #fff;
                    opacity: 1;
                }
            }

            .card-footer {
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                color: #fff;
                opacity: 1;

                &.no-data-text {
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    opacity: 0.7;
                    color: #fff;
                    margin-top: 62px;
                    max-width: 85%;
                    white-space: normal !important;
                }
            }

            .card-status {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.15;
                letter-spacing: normal;
                color: #fff;
                bottom: 16px;
                position: absolute;
            }

            .bg-image {
                position: absolute;
                right: -15px;
                bottom: 0;
            }
        }

        .phishing-reporter {
            background-color: #2196f3;
        }

        .investigations {
            background-color: #43a047;
        }

        .roi-summary {
            background-image: linear-gradient(to bottom, #b27fc2, #66257a 96%);

            &__settings-button {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }

    .double-table {
        display: flex;
        margin-top: 8px;

        .k-table__wrapper .card {
            justify-content: unset;
            box-shadow: none !important;
            padding: 0px !important;
            border: none !important;
            border-radius: 0 !important;

            .table-wrapper {
                padding-top: 0;
                border: none !important;
                margin-top: 0 !important;
                border-radius: 0 !important;
            }
        }

        .k-table__wrapper {
            padding-bottom: 24px;
        }

        @media only screen and (max-width: 1025px) {
            flex-wrap: wrap;

            .column {
                width: calc(100% - 16px) !important;
            }
        }

        .column {
            margin: 8px;
            width: calc(50% - 16px);

            .v-card {
                border-radius: 12px;
                box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8);
                min-height: 236px;
                padding: 24px;
                padding-bottom: 0;
                height: 100%;

                .header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 24px;

                    .title {
                        h2 {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 20px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.15;
                            letter-spacing: normal;
                            color: #2196f3;
                        }

                        p {
                            font-family: 'Open Sans', sans-serif !important;
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: rgba(0, 0, 0, 0.87);
                        }
                    }

                    .action {
                        display: flex;

                        .btn-action {
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 1.71;
                            letter-spacing: normal;
                            color: #2196f3;
                            background-color: #ffffff !important;
                            border-radius: 18px;
                            box-shadow: none !important;
                            border: solid 1px #2196f3;

                            i {
                                font-size: 19px !important;
                            }
                        }
                    }
                }

                .table {
                    .wrapper {
                        padding-bottom: 0 !important;
                    }

                    ::v-deep .v-card {
                        box-shadow: unset !important;
                        padding: 0 !important;

                        .table-wrapper {
                            box-shadow: unset !important;

                            .el-table td {
                                padding: 16px 0 !important;
                            }

                            .btn-status {
                                max-width: 100px !important;
                            }

                            .btn-inactive {
                                background-color: #f56c6c !important;
                            }
                        }
                    }
                }

                .table.investigations {
                    ::v-deep .v-card {
                        .el-table td {
                            padding: 13px 0 !important;
                        }
                    }
                }
            }
        }
    }

    .table-row {
        display: flex;
        padding-top: 8px;
        position: relative;
        margin: 8px;
        width: calc(100% - 16px);

        .wrapper {
            width: 100%;
        }

        .k-table__wrapper {
            .v-card {
                padding: 0;
            }
        }

        .v-card {
            border-radius: 12px;
            box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8);
            padding: 24px;
            padding-bottom: 0;
            width: 100%;

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .title {
                    width: 65%;

                    h2 {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 20px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.15;
                        letter-spacing: normal;
                        color: #2196f3;
                    }

                    p {
                        font-family: 'Open Sans', sans-serif !important;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: rgba(0, 0, 0, 0.87);
                    }
                }

                .action {
                    display: flex;

                    .btn-action {
                        background-color: #2196f3 !important;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.71;
                        letter-spacing: normal;
                        padding: 0 !important;
                        height: 36px !important;
                        border-radius: 18px;
                        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(33, 150, 243, 0.3);

                        i {
                            font-size: 19px !important;
                        }
                    }
                }
            }
        }
    }

    .table.investigations {
        padding: 0 !important;
    }
}

.matching-modal {
    &__list-item {
        padding: 0;

        .v-list-item__content {
            padding: 0;
        }
    }

    .filter__icon {
        margin-right: 8px;
    }

    .k-table__wrapper {
        padding-bottom: 0;
        overflow-x: auto;
    }

    .v-card {
        border-radius: 12px;
        box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
            0 3px 1px -2px rgba(80, 80, 80, 0.12);
    }
}

.roi-modal {
    &__list-item {
        padding: 0;

        .v-list-item__content {
            padding: 0;
        }
    }

    .v-list-item__subtitle {
        white-space: pre-wrap;
    }

    .k-dialog__header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .k-dialog__body {
        padding-bottom: 0;
    }

    &__label {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87) !important;
        margin-bottom: 8px !important;
    }
}

.popup-link {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2196f3;
}

.no-data__opacity-purple {
    background-color: #7b6c81;
}

.incident-responder .analysis-link {
    display: flex;
    text-align: left;
    color: #212121;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    align-items: center;
    justify-content: center;
}

.dashboard-cards-loading {
    width: 24% !important;
}


.incident-responder__playbook {
    .k-overlay__container {
        padding: 0 !important;
    }

    .v-overlay__content {
        overflow-x: hidden;
    }

    .k-overlay__list-item.k-overlay__header {
        padding: 32px 96px 0 96px;
        margin-bottom: 24px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}

.el-table .el-table__row--level-1 .data-table__custom-column {
    margin: 0 -8px;
}

.reported-email-subject {
    max-width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 16px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.clustered-table-back-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 0 8px;
    margin-right: 32px;

    +div {
        min-width: 328px;
    }
}

#text--extended-view-singular-value-Notes-7 {
    white-space: initial;
}

.incident-responder-extended-view-is-notify-sub-label {
    font-size: 9px;
    line-height: 12px;
    color: rgba(56, 59, 65, 0.72);
    margin-left: 32px;

    span {
        margin-left: 8px;
        color: #2196f3;
        font-size: inherit !important;
        font-weight: 600 !important;
        cursor: pointer;
        min-width: 40px;
    }
}
