.DS_Store
node_modules
/dist
storybook-static

# local env files
.env.local
.env.*.local

# Log files
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
pnpm-debug.log*
yarn.lock
*.stackdump
.claude
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?