
.campaign-manager-last-step {
    padding-right: 71px;
    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .campaign-manager-summary-card {
        min-width: 400px;
        margin-top: 24px;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
    &__target-users {
      &-body {
        padding-left: 24px;
        padding-top: 16px;
        background-color: #fafafa;
        border-radius: 12px;
        span {
          display: inline-block;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          border-radius: 4px;
          margin-right: 4px;
          padding: 1px 8px;
          &:first-child {
            color: #ffffff;
            background: #383b41;
          }
          &:last-child {
            color: #383b41;
            background-color: #e0e0e0;
          }
        }
      }
    }
    &__email-template {
      &-body {
        padding: 16px 24px 24px 24px;
        background-color: #fafafa;
        border-radius: 12px;
        &-attachments {
          display: flex;
          margin-top: 24px;
        }
        &-header {
          display: flex;
          justify-content: space-between;
          .k-badge {
            height: 24px !important;
            border-radius: 18px;
            min-width: 64px !important;
          }
          &-left {
            font-weight: 600;
            font-size: 20px;
            color: #383b41;
          }
          &-right {
            display: flex;
            align-items: center;
            .badge-middle {
              margin-left: 8px;
              padding: 8px;
              max-width: 300px;
              .v-btn__content {
                color: #383b41;
              }
            }
            div:last-child {
              margin-left: 8px !important;
              .k-badge {
                margin-left: 8px;
                max-width: none;
                padding: 0;
                i:before {
                  font-size: 18px;
                }
              }
            }
          }
        }
        &-preview {
          background: #f2f2f2;
          padding: 16px;
          &-container {
            border-top: 1px solid #b3d4fc;
            padding: 24px;
            max-height: 480px;
            overflow-y: auto;
          }
        }
      }
    }
    &__landing-page-template {
      &-body {
        padding: 16px 24px 24px 24px;
        background-color: #fafafa;
        border-radius: 12px;
        &-header {
          display: flex;
          justify-content: space-between;
          .k-badge {
            height: 24px !important;
            border-radius: 18px;
            min-width: 64px !important;
          }
          &-left {
            color: #383b41;
            &-url {
              font-weight: 600;
              font-size: 14px;
            }
          }
          &-right {
            display: flex;
            align-items: center;
            .badge-middle {
              margin-left: 8px;
              padding: 8px;
              max-width: 300px;
              .v-btn__content {
                color: #383b41;
              }
            }
            div:last-child {
              margin-left: 8px;
              .k-badge {
                margin-left: 8px;
                max-width: none;
                padding: 0;
                i:before {
                  font-size: 18px;
                }
              }
            }
          }
        }
        &-preview {
          background: #f2f2f2;
          margin: 24px 0;
          padding: 16px;
          &-container {
            border-top: 1px solid #b3d4fc;
            margin: 24px 24px 0 24px;
          }
        }
      }
    }
  }
