#campaign-manager-item-data-table {
    .table-header-disable {
        opacity: 1;
        pointer-events: visible;

        * {
            opacity: 0.85;
            pointer-events: none;
        }

        #btn-back--campaign-manager-clustered-table {
            pointer-events: visible;
            opacity: 1;
        }
    }
    .selection-row {
        top: 131px;
    }
}
#btn-select--hide-sandbox-activity{
  opacity: 1;
  .v-btn__content{
    opacity: 1;
  }
}
