@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-300.ttf') format('truetype'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-300.woff') format('woff'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-300.woff2') format('woff2');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-regular.ttf') format('truetype'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-regular.woff') format('woff'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-600.ttf') format('truetype'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-600.woff') format('woff'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-600.woff2') format('woff2');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-700.ttf') format('truetype'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-700.woff') format('woff'),
  url('~@/assets/Fonts/open-sans-v17-latin-ext_latin/open-sans-v17-latin-ext_latin-700.woff2') format('woff2');
}



