.white-labeling {
    &__file-upload {
        max-width: 230px;
    }

    &__main-domain {
        &-prefix {
            max-width: 95px;

            .v-select__selection {
                margin-right: 0 !important;
                overflow: visible !important;
            }
        }
    }

    &__main-domain-alert-box {
        background-color: #F1F8FE;

        & .alert-box__default-content p{
            line-height: 21px;
            color: #383B41;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-reset-to-default {
            padding: 0 8px !important;
            margin-right: -2px;

            &.v-btn--disabled {
                .v-btn__content {
                    color: inherit;
                }
            }

            .v-btn__content {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.71;
                letter-spacing: normal;
                color: #2196f3;
            }
        }
    }

    &__footer-links {
        max-width: 570px !important;

        &-item {
            display: flex;
            justify-content: space-between;
        }

        &-span {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #383b41;
            margin-top: 11px;
        }

        .v-text-field {
            max-width: 403px;
        }
    }

    &__release-information {
        &-span {
            font-size: 9px;
            font-weight: normal;
            letter-spacing: normal;
            color: #757575;
            position: absolute;
            top: 14px;
        }
    }
}
