.table-field {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 20px;
    background-color: #f2f2f2;
    max-width: 612px;
    min-height: 64px;

    &__container {
        padding: 12px 12px 12px 27px;
        display: flex;
        align-items: center;
        min-height: 64px;

        .v-text-field__details {
            position: absolute;
            bottom: -21px;
            left: -5px;
        }

        .v-input--checkbox {
            .v-messages {
                display: none;
            }
        }
    }

    &__input {
        max-width: 188px;

        .v-input__control {
            height: 40px;
        }
    }

    .v-input--selection-controls {
        padding-top: 0;
    }
}