::v-deep .edit-select > .v-input__control {
  align-items: center;
  display: flex;
  height: 40px !important;
}

::v-deep .v-text-field.v-text-field--enclosed .v-input__append-inner {
  margin-top: 8px !important;
}

.edit-privacy-bottom-label {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #909399;
  padding-top: 8px;
  margin: 0 !important;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: unset;
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
  opacity: 1;
}

.v-btn-toggle > .v-btn.v-btn--active,
.v-btn-toggle > .v-btn.v-btn--active::before {
  color: #fff;
}

.v-btn-toggle--group > .v-btn.v-btn {
  border-color: #757575;
  border-left: 1px solid #757575 !important;
}

.v-btn:before {
  top: -1px !important;
  left: -1px !important;
}

