.select-row-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;

  .select-row-inline {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;

    .file-type-wrap {
      display: flex;
    }
  }
}

.max-char {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 100%;
}




