.select-row-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;

  .select-row-inline {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;

    .file-type-wrap {
      display: flex;
    }
  }
}

.email-name {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.email-icon {
  font-size: 19px !important;
  padding-right: 24px;
}

.email-type {
  height: 25px;
  border-radius: 4px;
  background-color: #f56c6c;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
}

.email-time {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.v-card-headline {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #000;
}

.v-card-sub-header {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000 !important;
}

.v-cart-icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-right: 24px;
  box-shadow: 0 2px 20px 0 rgba(100, 181, 246, 0.5);
  border: solid 1px rgba(100, 181, 246, 0.5);
  background-color: #e3f2fd;
}

.preview-header {
  margin-top: 32px;

  h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 16px;
    width: max-content;
  }

  .header-info {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 43px;
    border-bottom: 1px solid #b3d4fc;
  }
}

.preview-body {
  margin-top: 24px;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #b3d4fc;
  position: relative;
  padding-bottom: 24px;
  min-height: auto;
  overflow: auto;

  h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 16px;
  }

  .company-img {
    display: flex;
    position: absolute;
    right: 0;
    top: 20px;
    width: 84px;
    height: 84px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.bodyExpanded {
  height: 100% !important;
  max-height: 100% !important;
  padding-bottom: 56px;
}

.preview-footer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding-bottom: 24px;

  h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 16px;
  }

  .attachment-wrapper {
    display: flex;
    flex-direction: row;

    .attachment {
      width: 182px;
      height: 32px;
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      border: 1px solid transparent;

      .attach-icon {
        min-width: 40px;
        height: 32px;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .red-icon {
        background-color: #bb2a45 !important;
      }

      .blue-icon {
        background-color: #2196f3 !important;
      }

      .file-name {
        width: 142px;
        text-align: left;
        display: block;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87);
      }
    }

    .red-attach {
      border: 1px solid #bb2a45;
    }

    .blue-attach {
      border: 1px solid #2196f3;
    }
  }
}

.unselected-warn {
  border-bottom: 1px solid #bb2a45;
  color: #bb2a45;
  padding: 0 2px !important;
}

::v-deep .v-autocomplete {
  .v-input__slot {
    box-shadow: unset !important;
    border: 1px solid rgba(0, 0, 0, 0.24) !important;
  }
}

::v-deep .v-text-field.v-text-field--enclosed .v-input__append-inner {
  margin-top: 0 !important;
  display: flex;
  align-items: center;
}

.first-date {
  ::v-deep .v-input__slot {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;

    label {
      padding-left: 65px !important;
    }
  }
}

.sec-date {
  ::v-deep .v-input__slot {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;

    label {
      padding-left: 60px !important;
    }
  }
}

.date-picker {
  font-family: 'Open Sans', sans-serif !important;

  ::v-deep .v-input__slot {
    box-shadow: unset !important;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    text-align: center;

    input {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.54);
      padding-left: 50px !important;
      padding-top: 8px !important;
    }

    label {
      padding-top: 0 !important;
    }
  }

  ::v-deep .v-input__slot::after,
  ::v-deep .v-input__slot::before {
    display: none;
  }
}



.date-icon {
  top: 12px;
  left: 25px;
  position: absolute;
  font-size: 18px !important;
  z-index: 99;
}

.date-to {
  position: absolute;
  left: 0;
  top: 11px;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.72);
  z-index: 13;
}

.max-char {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 100%;
}

.text-selected {
  border-radius: 1px !important;
  background-color: #d1e9fc !important;
  border-bottom: 1px solid #2196f3 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  width: max-content;
}

.clean-link {
  padding: 0 2px !important;
  border-radius: 1px !important;
  border-bottom: 1px solid #2196f3 !important;
  color: #2196f3 !important;
}

.selected-link {
  background-color: #d1e9fc !important;
}

.phishing-link {
  background-color: #f3e1e5 !important;
  border-bottom: 1px solid #bb2a45 !important;
  color: #bb2a45 !important;
  width: max-content;
}

.clean-attach {
  background-color: #f1f8fe;
  border: 1px solid transparent !important;
}

.malicious-attach {
  background-color: #f3e1e5;
  border: 1px solid transparent !important;
}

::v-deep .v-input>.v-input__control>.v-text-field__details {
  bottom: -24px !important;
  position: absolute;
  left: 0;
}

::v-deep .v-application input {
  border-radius: 8px !important;
  border: solid 1px rgba(0, 0, 0, 0.16) !important;
}

.required {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #474747;
  margin-left: 6px;
  margin-top: -2px;
}

.close-incident {
  position: absolute;
  right: 26px;
  top: 26px;
}

::v-deep .affect-input.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
  border: none !important;
}

.row-with-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.icon-btn {
  margin-top: unset;
  margin-left: -5px;
  height: 25px !important;
  width: 25px !important;
}

.step-name {
  width: max-content;
}

.filter-header {
  align-items: center;
  display: none;
  justify-content: space-between;
  padding-top: 24px;
  width: 240px;
  transition: all 0.3s ease-in-out;

  .select-header {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    transition: all 0.3s ease-in-out;
  }

  i {
    margin-top: 3px;
    font-size: 27px;
  }
}

.minify-filter {
  width: 120px !important;
}

.minify-part,
.minify-switch {
  padding-left: 10px;
  width: 100% !important;
}

.footer-actions {
  align-items: center;
  bottom: 0;
  background-color: #f5f7fa;
  display: flex;
  left: 0;
  position: fixed;
  justify-content: space-between;
  padding: 0 96px;
  height: 68px;
  width: 100%;
  z-index: 9999;

  .cancel-btn {
    background-color: transparent !important;
    border-radius: 18px !important;
    border: solid 1px #f56c6c !important;
    color: #f56c6c !important;
  }

  .previous-btn {
    border-radius: 18px !important;
    border: solid 1px #2196f3 !important;
    color: #2196f3 !important;
  }

  .create-btn {
    border-radius: 18px !important;
    box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
    background-color: #2196f3 !important;
    color: #fff !important;
  }
}

@media only screen and (max-width: 1025px) {
  .hide-step {
    display: none !important;
  }

  .filter-header {
    display: flex;
  }
}

.display-none {
  display: none !important;
}
