.disabled-chevron {
  opacity: 0.3;
  .v-ripple_container {
    display: none !important;
    &:before,
    &:after {
      opacity: 0 !important;
    }
  }
  &:before {
    opacity: 0 !important;
  }
  .v-icon {
    &:after {
      opacity: 0 !important;
    }
  }
}

.tlp-select {
  .tlp_subtitle {
    opacity: 0.7;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #474747;
  }
  &__chip {
    border-radius: 16px !important;
    &--green {
      background-color: #43a047 !important;
      color: #fff !important;
      .v-icon {
        color: #fff !important;
      }
    }
    &--amber {
      background-color: #e6a23c !important;
      color: #fff !important;
      .v-icon {
        color: #fff !important;
      }
    }
    &--red {
      background-color: #f56c6c !important;
      color: #fff !important;
      .v-icon {
        color: #fff !important;
      }
    }
    &--white {
      color: #000 !important;
      background-color: #fff !important;
      border: 1px solid #000;
      border: 1px solid #757575 !important;
      .v-icon {
        color: #6d6d6d !important;
      }
    }
  }
}
.incident-wrapper {
  .incident-container {
    min-height: 100vh;
    width: 100%;

    .incident-inner {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;

      .incident-card {
        width: 100%;
        min-height: 100vh;
        padding: 32px 96px !important;
        padding-bottom: 100px !important;
      }

      .incident-steps {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f5f7fa;
        margin: 25px -96px;
        padding-left: 96px;
        height: 57px;

        .active-step {
          border: solid 1px #409eff !important;
          color: #409eff !important;
        }

        .steps {
          align-items: center;
          display: flex;
          flex-direction: row;
          margin-right: 10px;
          font-family: "Open Sans", sans-serif !important;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.5);

          .step-number {
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            border: solid 1px #909399;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.87);
          }

          .active-step-num {
            border: solid 1px rgba(0, 0, 0, 0.87) !important;
          }

          .active-step-span {
            color: rgba(0, 0, 0, 0.87) !important;
          }

          hr {
            width: 69px;
            height: 1px;
            border: 1px solid #757575;
            margin: 0 10px;
            @media only screen and (max-width: 1025px) {
              width: 32px !important;
              margin: 0 4px;
            }
          }
        }
      }
    }
  }

  .img-wrapper {
    position: relative;
  }

  .footer-actions {
    align-items: center;
    bottom: 0;
    background-color: #f5f7fa;
    display: flex;
    left: 0;
    position: fixed;
    justify-content: space-between;
    padding: 0 96px;
    height: 68px;
    width: 100%;
    z-index: 98;

    .cancel-btn {
      background-color: transparent !important;
      border-radius: 18px !important;
      border: solid 1px #f56c6c !important;
      color: #f56c6c !important;
      z-index: 9999;
    }

    .previous-btn {
      border-radius: 18px !important;
      border: solid 1px #2196f3 !important;
      color: #2196f3 !important;
      z-index: 9999;
    }

    .create-btn {
      border-radius: 18px !important;
      box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
      background-color: #2196f3 !important;
      color: #fff !important;
      z-index: 9999;
    }
  }

  .create-btn {
    border-radius: 18px !important;
    box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
    background-color: #2196f3 !important;
    color: #fff !important;
    z-index: 9999;
  }

  button.error--text {
    color: rgba(0, 0, 0, 0.54) !important;
    caret-color: rgba(0, 0, 0, 0.54) !important;
  }

  .v-cart-icon-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-right: 24px;
    box-shadow: 0 2px 20px 0 rgba(100, 181, 246, 0.5);
    border: solid 1px rgba(100, 181, 246, 0.5);
    background-color: #e3f2fd;
  }

  .incident-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;

    .input-header {
      font-family: "Open Sans", sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
    .input-sub {
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 10px;
    }

    .input-select {
      max-width: 205px;
      color: rgba(0, 0, 0, 0.72);
      font-family: "Open Sans", sans-serif !important;
      font-size: 13px !important;
      margin-bottom: 32px;
    }
    .input-select > .v-input__control {
      max-width: 554px !important;
      align-items: center;
      display: flex;
      height: 40px !important;
    }

    .date-row {
      max-width: 390px !important;
    }
  }

  .upload-wrapper {
    max-width: 220px;
    position: relative;
  }

  .step-container {
    max-width: 554px;
  }

  .investigation-content {
    border-radius: 12px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .mail-preview {
      width: 100%;
      max-width: 600px;
      position: relative;
    }

    .investigation-filters {
      width: 300px;
      background-color: white;
      box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
        0 3px 1px -2px rgba(80, 80, 80, 0.12);
      align-items: center;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 32px;
      transition: all 0.3s ease-in-out;
      position: relative;

      @media only screen and (max-width: 1025px) {
        position: absolute;
        top: 170px;
        right: 0;
        z-index: 99999;
        border-radius: 12px;
        box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.2), 0 1px 1px 0 rgba(243, 243, 243, 0.14),
          0 1px 1px -1px rgba(204, 204, 204, 0.12);
        border: solid 1px #2196f3;
      }

      &__area {
        width: 100%;
        padding: 0 24px;
        max-height: 300px;
        overflow-y: auto;
        position: relative;
        margin: 24px 0 12px 0;
        min-height: 200px;
        &--breaker {
          padding: 0 24px;
          width: 100%;
          &__line {
            background-color: #b3d4fc;
            height: 1px;
            width: 100%;
          }
        }
        .mdi-eye {
          color: #bababa !important;
        }
        .mdi-eye-off {
          color: #757575 !important;
        }
        &--filter {
          width: 100%;
          line-height: 2.3;
          padding: 3px 0;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
          height: 33px;
          &__title {
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
          }
          &--label {
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
          }
          &__all-header {
            color: #757575;
            position: absolute;
            bottom: -10px;
            right: -8px;
            font-size: 8px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: default;
          }
        }
      }
    }
  }

  .preview-header {
    margin-top: 24px;

    h2 {
      font-family: "Open Sans", sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 16px;
      width: 100%;
      display: block;
      max-height: 80px;
    }

    .header-info {
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 43px;
      border-bottom: 1px solid #b3d4fc;
    }
  }

  .preview-body {
    margin-top: 24px;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid #b3d4fc;
    position: relative;
    padding-bottom: 24px;
    min-height: auto;
    max-height: 500px;
    overflow: auto;

    h2 {
      font-family: "Open Sans", sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 16px;
    }

    .company-img {
      display: flex;
      position: absolute;
      right: 0;
      top: 20px;
      width: 84px;
      height: 84px;

      img {
        width: 100%;
        height: auto;
      }
    }

    a {
      display: block !important;
      min-width: max-content !important;
    }
  }

  .preview-footer {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding-bottom: 24px;
    overflow: auto;
    max-width: 100%;
    height: auto;
    position: relative;
    h2 {
      font-family: "Open Sans", sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 16px;
    }

    .attachment-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;

      .attachment {
        width: 182px;
        height: 32px;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-right: 16px;
        border: 1px solid transparent;
        margin-bottom: 8px;

        span {
          width: 100%;
          text-align: center;
          font-family: "Open Sans", sans-serif !important;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.58;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
        }

        .attach-icon {
          min-width: 40px;
          height: 32px;
          align-items: center;
          display: flex;
          justify-content: center;
        }

        .red-icon {
          background-color: #bb2a45 !important;
        }

        .blue-icon {
          background-color: #2196f3 !important;
        }

        .file-name {
          width: 142px;
          text-align: left;
          display: block;
          font-family: "Open Sans", sans-serif !important;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          margin-top: 8px;
          font-style: normal;
          line-height: 1.58;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
          padding-left: 7px;
          &:before {
            content: "";
            display: block;
          }
        }
      }

      .red-attach {
        background-color: #f3e1e5;
        border: 1px solid #bb2a45;
      }

      .blue-attach {
        background-color: #f1f8fe;
        border: 1px solid #2196f3;
      }
    }
  }

  .required {
    font-family: "Open Sans", sans-serif !important;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #474747;
    margin-left: 6px;
    margin-top: -2px;
  }

  .close-incident {
    position: absolute;
    right: -13px;
    top: 13px;
  }

  .minify-filter {
    width: 120px !important;
  }

  .detail-discovery {
    margin-top: 24px;

    .disc-header {
      font-family: "Open Sans", sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 8px;
    }

    .discovery-p {
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .impact-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);

    .impact-left {
      min-width: 100px;
      font-weight: 600 !important;
    }

    .impact-right {
      max-width: 80%;
    }
  }

  .member-company-body {
    .v-slide-group__content {
      border-bottom: unset !important;
    }
  }

  .tooltip-wrapper {
    max-width: 250px;
    width: 130px;
    height: 50px;
    background-color: #6d6d6d;
    position: absolute;
    top: -55px;
    left: -35px;
    border-radius: 4px;
    box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;
    padding: 8px;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 34px;
    }

    span {
      color: rgba(255, 255, 255, 0.87) !important;
      font-size: 12px !important;
      line-height: 1.33 !important;
      font-family: "Open Sans", sans-serif !important;
      font-weight: 400;
    }
  }

  // Threat sharing Content
  .threat-sharing-content {
    min-height: 200px;
    width: 100%;
    padding: 24px !important;
    background-color: #ffffff;
    border-radius: 20px !important;

    @media only screen and (max-width: 500px) {
      padding: 16px !important;
    }
  }

  .ts-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .ts-header-btn-1 {
    display: flex;
  }

  .ts-title {
    font-family: "Open Sans", sans-serif !important;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    max-width: 79%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  .notification-wrapper {
    background-color: #fff;
    padding: 0;
  }

  .v-menu__content {
    border-radius: 8px !important;
    box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;

    .v-list-item {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }

    .v-list-item__title {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black-87);
    }
  }

  .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 10px !important;
  }

  .ts-user-comp-detail {
    align-items: center;
    display: flex;
    margin-top: 8px;
    flex-wrap: wrap;
  }

  .v-btn--contained {
    border-radius: 18px !important;
  }

  .v-btn:not(.v-btn--round).v-size--default,
  .v-btn--icon.v-size--default {
    height: 36px !important;
  }

  .v-btn--icon.v-size--default {
    margin-left: 4px;
    width: 36px !important;
  }

  .ts-tags {
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: max-content;

    > .tag-btn,
    > div > .tag-btn {
      border-radius: 18px;
      border: solid 1.5px #c0c4cc;
      background-color: #fff;
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      height: 32px !important;
    }
  }

  .ts-footer {
    align-items: center;
    display: flex;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .ts-like {
    margin-right: 10px;
    align-items: center;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
      margin-left: 4px;
    }
  }

  .ts-message {
    margin-right: 40px;
    align-items: center;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
      margin-left: 4px;
    }
  }

  .ts-harmful {
    margin-right: 15px;
    align-items: center;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
    }
  }

  .ts-body {
    margin-top: 10px;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .ts-user-comp {
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);

    a {
      text-decoration: none;
    }

    .ts-user-date {
      font-family: "Open Sans", sans-serif !important;
      font-size: 12px;
      font-weight: normal !important;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .ts-action-counter {
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .ts-actions {
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 3px;
  }

  .v-expansion-panel {
    border-radius: 20px !important;
    box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
      0 3px 1px -2px rgba(80, 80, 80, 0.12) !important;
    background-color: #fff;
    border: unset !important;
  }

  .v-expansion-panel::before {
    box-shadow: unset !important;
  }

  .v-expansion-panel-header {
    box-shadow: unset !important;
    border: unset !important;
  }

  .v-window {
    border-radius: 20px !important;
    margin: 0 24px !important;
  }

  .v-expansion-panel-content {
    border-radius: 20px !important;
    font-family: "Open Sans", sans-serif !important;
  }

  .v-expansion-panel-content__wrap {
    padding: 0 !important;
  }


  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 8px;
  }


  .chevron-down {
    i {
      text-decoration: none !important;
    }
  }

  .v-btn--icon.v-size--default.chevron-btn-menu {
    height: 30px !important;
    width: 30px !important;
    i {
      height: 30px !important;
      width: 30px !important;
    }
  }

  .is-anonym-check {
    height: 28px !important;
    margin-bottom: 24px;
    margin-top: 0 !important;

    label {
      height: 25px !important;
      font-size: 14px !important;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  .red-malicious-alert::before {
    border: unset !important;
  }

  .malicious-style {
    .red-malicious-alert:not(:first-child) {
      display: none !important;
    }
  }

}

.select-row-wrap {
  display: flex;
  width: 100%;
  padding: 0 2px;

  .email-name {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .email-icon {
    font-size: 19px !important;
    padding-right: 24px;
  }

  .email-type {
    height: 25px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    min-width: 100px;
    margin-right: 15px;
  }

  .btn-pending {
    background-color: #fff;
    border: 1px solid #757575;
    color: #757575;
  }

  .btn-active {
    background-color: #fff;
    border: 1px solid #2196f3;
    color: #2196f3;
  }

  .btn-inactive {
    background-color: #fff;
    border: 1px solid #757575;
    color: #757575;
  }

  .btn-phishing {
    background-color: #fff;
    border: 1px solid #b83a3a;
    color: #b83a3a;
  }

  .btn-cancelled {
    background-color: #f56c6c;
  }

  .btn-malicious {
    background-color: #fff;
    border: 1px solid #b83a3a;
    color: #b83a3a;
  }

  .btn-undetected {
    background-color: #fff;
    border: 1px solid #1173c1;
    color: #1173c1;
  }

  .btn-simulation {
    background-color: #fff;
    border: 1px solid #0198ac;
    color: #0198ac;
  }

  .btn-error {
    background-color: #fff;
    border: 1px solid #b6791d;
    color: #b6791d;
  }

  .email-time {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    min-width: 150px;
  }

  .select-row-inline {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;

    .file-type-wrap {
      display: flex;
      justify-content: space-between;
    }
  }
}
.malicious-style,
.malicious-link {
  .share-setting-text {
    text-decoration: none !important;
    text-decoration-color: transparent !important;
    text-decoration-style: unset !important;
    border: none !important;
    border-bottom: transparent !important;
    border-bottom-color: transparent !important;
    border-image: none !important;
    border-image-width: 0 !important;
  }
}

.clean-attach {
  background-color: #f1f8fe;
  border: 1px solid transparent !important;
}


.mal-list-wrapper {
  .mal-list-row {
    align-items: center;
    display: flex;
    flex-direction: row;

    .mal-icon-wrapper {
      height: 35px;
      width: 35px;
      padding-top: 5px;
    }
  }
}

.mal-list-wrapper:hover,
.mal-list-wrapper:active,
.mal-list-wrapper:focus {
  background-color: #f2f2f2;
  transition: all 0.2s ease-in-out;
}

.edit-html-template-button {
  position: absolute;
  top: -10px;
  right: 0px;
}
.v-menu__content.theme--light.menuable__content__active {
  z-index: 1001 !important;
}

.incident-wrapper .select-row-wrap {
  justify-content: stretch;
}
