.pop-up-card__invite-member {
  .v-select__selections input {
    min-height: 32px;
  }
  .v-input__append-inner {
    display: none;
  }
}
.right-column {
  .notification-wrapper__right-column {
    padding: 0 !important;
    width: 100%;
    box-shadow: 0 8px 10px -3px rgba(255, 255, 255, 0.14), 0 2px 4px 0 rgba(255, 255, 255, 0.14),
      0 3px 14px 2px rgba(255, 255, 255, 0.12);
  }

  .pop-up-card {
    width: 100%;
    border-radius: 20px !important;
    box-shadow: 0 10px 15px -5px rgba(205, 205, 205, 0.5);
    background-color: #fff;
  }


  .create-com-btn {
    background-color: #2196f3 !important;
    color: #fff;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    height: 36px !important;
    text-transform: uppercase !important;
  }

  .suggested-card > .suggested-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .right-side- {
    &title {
      font-family: "Open Sans", sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .ts-tags {
    align-items: center;
  }

  .ts-footer {
    display: flex;
    margin-top: 10px;
    margin-left: 0px;
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .ts-like {
    margin-right: 10px;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
    }
  }

  .ts-message {
    margin-right: 40px;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
    }
  }

  .ts-harmful {
    margin-right: 15px;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
    }
  }


  .ts-body {
    margin-top: 8px;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .ts-user-comp {
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);

    a {
      text-decoration: none;
    }

    .ts-user-date {
      font-weight: bold;
    }
  }

  // Threat sharing Content
  .threat-sharing-content {
    min-height: 200px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
      0 3px 1px -2px rgba(80, 80, 80, 0.12);
    background-color: #ffffff;
    padding: 29px 32px 16px 32px;
  }

  .ts-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .ts-title {
    font-family: "Open Sans", sans-serif !important;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .v-tab {
    padding: 0 !important;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    text-align: left !important;
  }

  .v-slide-group__wrapper {
    padding-left: 20px !important;
  }

  .v-card.v-sheet.theme--light {
    padding-top: 0;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 20px;
  }

  .community-selector {
    .v-tabs-bar {
      height: 44px !important;
    }
  }

  .community-selector .v-slide-group__wrapper {
    background-color: #f5f7fa !important;
    height: 44px !important;
    padding-left: 0 !important;

    .v-tab {
      font-weight: 400;
      font-size: 14px !important;
      margin-top: 6px;
      margin-right: 32px !important;
    }
  }

  .community-selector .v-slide-group__wrapper > div {
    height: 100%;
    margin-right: 0 !important;
  }

  .v-text-field--outlined fieldset {
    border-radius: 6px !important;
  }

  .search-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      padding-right: 10px;
    }

    .filter-icon {
      color: rgba(0, 0, 0, 0.34) !important;
      cursor: pointer;
    }
  }

  .filter-field {
    font-family: "Open Sans", sans-serif !important;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
  }

  .create-com-btn {
    background-color: #2196f3 !important;
    color: #fff;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    height: 36px !important;
    text-transform: uppercase !important;
  }

  .ts-community-industry {
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
  }

  .notification-wrapper {
    background-color: #fff;
  }

  .v-menu__content {
    border-radius: 8px !important;
    box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;

    .v-list-item {
      padding-left: 29px !important;
      padding-right: 16px !important;
    }

    .v-list-item__title {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black-87);
    }
  }

  .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 10px !important;
  }

  .ts-user-comp-detail {
    align-items: center;
    display: flex;
  }

  .v-btn:not(.v-btn--round).v-size--default,
  .v-btn--icon.v-size--default {
    height: 36px !important;
  }

  .v-btn--icon.v-size--default {
    margin-left: 4px;
    width: 36px !important;
  }

  // Right Column
  .right-side-content {
    a {
      text-decoration: none !important;
      color: #2196f3;
    }

    a:hover {
      text-decoration: underline !important;
    }
  }

  .right-side-title {
    font-family: "Open Sans", sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .right-side-sub-title {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2196f3;
  }

  .right-side-desc {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #434343;
    a {
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #2196f3;
    }
  }

  .about-community {
    display: flex;
    justify-content: space-between;
  }

  .about-community-statement {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .about-community-table-td {
    padding-top: 0 !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .about-community-table-td-sec {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .right-side-like .v-icon,
  .right-side-message .v-icon {
    height: 14px !important;
    width: 14px !important;
    font-size: 14px !important;
  }

  .right-side-like-comment-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .like-count,
  .comment-count {
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 2px;
  }

  .suggested-card {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 76px;
    margin-bottom: 8px;
    border-radius: 4px !important;
    border: none !important;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
      0 3px 1px -2px rgba(80, 80, 80, 0.12);
    background-color: #ffffff;

    .suggested-row {
      align-items: stretch;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      max-height: 220px;
      width: 100%;
      padding: 16px;
      padding-bottom: 4px;
      &__seperator {
        margin: 0 4px;
        font-weight: 900;
      }
    }

    .suggested-com-name {
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 100%;

      .suggested-title {
        font-family: "Open Sans", sans-serif !important;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 0;
        padding-bottom: 8px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        max-width: 100%;
      }

      .suggested-com-detail {
        font-size: 12px;

        .suggested-people-icon {
          font-size: 20px !important;
        }

        .suggested-industry {
          font-family: "Open Sans", sans-serif !important;
          font-size: 14px !important;
          font-weight: 600 !important;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87) !important;
        }
        .suggested-company {
          font-size: 14px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }

    .suggested-right-action {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-top: 4px;
      margin-bottom: 13px;
      width: min-content;

      .suggested-btn {
        align-items: center;
        background-color: #2196f3 !important;
        color: #fff !important;
        width: min-content;
        text-transform: uppercase;
        font-weight: 600;

        @media only screen and (max-width: 500px) {
          padding: 0 3px !important;
        }
      }
    }
  }

  .empty-posts {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
    display: block;
  }
  .right-col-semibold-label {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
  }

  @media only screen and (max-width: 1023px) {
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}

#threat-sharing-right-column-invite-plus {
  display: flex;
  align-items: center;
  margin-top:-1px;
  &:hover {
    text-decoration: none !important;
  }
}
