#campaign-manager-sending-report-data-table #container--extended-view {
    width: 532px !important;
}

.campaign-manager-sending-report-event {
    padding: 8px;
    background: #f5f7fa;
    border-radius: 8px;
    border: 1px solid #f5f7fa;

    &__content {
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            align-items: center;

            .k-badge {
                max-width: fit-content;
            }
        }

        &-detail {
            margin: 8px -8px -8px -8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 8px;
            background-color: #fff;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #383b41;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #383b41;
    }

    &__date {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #383b41;
    }
}