.smishing-campaign-manager-report-summary-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-top: 24px;
  .campaign-manager-report-summary-info-card {
    &:last-child {
      margin-right: 0;
    }
  }
}

.smishing-campaign-manager-report-summary {
  .campaign-manager-report-summary__general-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.campaign-report-replied-detail-popup-item{
  color: #383B41;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  & > span:first-child, & > div > span:first-child{
  color:rgba(56, 59, 65, 0.72)
  }
  &-paginated{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:-6px;
  }
}
.campaign-manager-report-replied-detail-content{

}
