/*.grapes-container-modal {
#gjsNewsletterModal {
    border: 3px solid #444;
}

.gjs-one-bg {
    background-color: #78366a;
}

.gjs-two-color {
    color: rgba(255, 255, 255, 0.7);
}

.gjs-three-bg {
    background-color: #ec5896;
    color: white;
}

.gjs-four-color,
.gjs-four-color-h:hover {
    color: #ec5896;
}
}
*/
