#gjsNewsletterModal {
  height: 100vh !important;
}
.merged-text {
  min-height: 40px;
  .gjs-block-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
}
.gjs-one-bg {
  background-color: #494949 !important;
}
.gjs-four-color-h:hover {
  color: #b3d4fc !important;
  background: rgb(0 0 0 / 15%) !important;
}
.gjs-four-color {
  color: #b3d4fc !important;
}
.gjs-block {
  margin: 4px 0 1% 2% !important;
  box-shadow: none !important;
  color: #ffffff;
}
.gjs-title {
  color: #ffffff;
}
@media (max-width: 1400px) {
  .merged-text {
    min-height: 40px;
    padding: 3px;
    .gjs-block-label {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      font-size: 0.55rem;
    }
  }
  .gjs-block {
    min-height: initial;
  }
  .gjs-fonts::before {
    font-size: 4rem;
  }
}
@media (max-width: 1200px) {
  .gjs-block {
    min-height: initial;
  }
  .gjs-fonts::before {
    font-size: 3rem;
  }
  .gjs-block-label {
    font-size: 0.5rem;
  }
  .gjs-title {
    font-size: 0.65rem;
  }
}
.cp-delete-css {
  display: none !important;
}

.code-panel section .codepanel-label {
  margin-top: 14px;
}
