.summary-step {
    .summary-template {
        border-top: 1px solid #b3d4fc;
    }

    .template-summary {
        &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #383b41;
        }

        &__subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #383b41;
            b{
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .summary {
        max-width: calc(100% - 96px);
        display: flex;
        flex-flow: column;
        margin-top: 32px;
        background: #ffffff;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 12px;

        &-header {
            justify-content: space-between;
            display: flex;
            padding: 24px 24px 16px 24px;
            align-items: center;

            i{
                margin-left: 0 !important;
            }

            div {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #2196f3 !important;
            }
        }

        &-content {
            border-top: 1px solid #e0e0e0;
            background: #fafafa;
            border-radius: 0 0 12px 12px;
            padding: 16px 24px 24px 24px;

            &__title {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 19px;
                color: #383b41;
                width: 55px;
                min-width: 55px;
                max-width: 55px;
                margin-right: 30px;
                display: inline-block;
            }

            &__body {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 19px;
                color: #383b41;
            }

            &-details {
                padding: 10px;
                border-bottom: 1px solid #e0e0e0;
            }

            &__collapsable {
                max-height: 480px !important;
                overflow-y: auto;
            }
        }
    }
}

.phishing-scenario {
    .phishing-scenario__container {
        padding: 24px !important;
    }
}

#input--action-tags-new-scenario.hide-caret,
#input--action-tags-new-notification-template.hide-caret {
    .v-input__append-inner {
        display: none !important;
    }
}

.new-phishing-scenario {
    &__overlay {
        .v-overlay__content {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            overflow-y: auto;
        }
    }

    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 31px;
        color: #383b41;
    }

    &__sub-title {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px !important;
        color: #383b41 !important;
    }
}
.phishing-scenario-tab-container {
  .el-tabs__active-bar.is-top{
    min-width: 42px;
  }
  .el-tabs__content{
    margin-top:16px !important;
  }
}
.quishing-scenario-tab-container{
  .template-preview__icon{
    top:-4px !important;
  }
}
.common-simulator-new-scenario-campaign-info{
  .campaign-manager-summary-card__body-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    .campaign-manager-summary-card__body-item{
      &:first-child, &:nth-child(3){
        padding-right: 40px !important;
        border-right: 1px solid #F2F2F2;
      }
      &:nth-child(2),&:nth-child(4) {
        padding-left: 40px;
      }
      &:nth-child(2){
        padding-top: 0;
      }
      &:nth-child(3),&:nth-child(4){
        border-bottom: none;
        padding-bottom:0;
      }
    }
  }
}

.common-simulator-new-scenario {
  &__footer {
    z-index: 10;
  }
}

#btn-next--add-or-edit-scenario-modal:disabled {
  opacity: 0.5;
  background-color: #2195f3 !important;
  color: #FFFFFF !important;
  pointer-events: auto;
  cursor: auto;
}