
.checkbox-error {
    left: 3px !important;
    bottom: -3px !important;

    .v-messages__message {
        font-size: 9px !important;
    }

    .new-investigation__combo {
        .v-chip__content {
            overflow: initial !important;
            display: inline-flex !important;
        }

        .v-input__prepend-inner {
            .v-input__icon {
                i {
                    font-size: 22px;
                    margin-top: 1px;
                }
            }
        }
    }

    &__position {
        left: 15px !important;
    }
}

.new-investigation__combo {
    .v-input__prepend-inner {
        .v-input__icon {
            i {
                font-size: 22px;
                margin-top: 1px;
            }
        }
    }
}

.bounce-enter-active {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.select-specific-users {
    .v-chip {
        margin: 4px !important;
    }
}

.filter-list-select {
    .vue-treeselect__indent-level-0:not(:first-child) {
        border-top: 1px solid #e0e0e0;
    }

    &.k-treeselect .vue-treeselect__input-container input {
        height: 40px;
    }

    .vue-treeselect__indent-level-1 .vue-treeselect__option.vue-treeselect__option--selected {
        border-left: solid 5px !important;
        border-color: #2196f3 !important;
        padding-left: 11px !important;

        .vue-treeselect__label {
            color: #1976d2 !important;
        }
    }

    .vue-treeselect__indent-level-1 .vue-treeselect__option {
        padding-left: 16px !important;
    }
}

.new-investigation-settings{
  .v-select__selections{
    .v-chip {
      margin: 4px !important;
    }
  }
}
