.new-investigation-wrapper {
    .edit-name-textfield__flagged {
        label {
            color: #e6a23c !important;
        }

        fieldset {
            border-radius: 8px !important;
            border: solid 1px #e6a23c !important;
            background-color: rgba(230, 162, 60, 0.05) !important;
        }
    }
    .target-users-select {
        &__radio-group {
            padding: 0px !important;
            margin: 0 !important;

            .v-input--selection-controls {
                margin-top: 0 !important;
                padding-top: 0 !important;
            }

            .v-input__slot {
                margin-bottom: 0 !important;
            }

            .v-input--selection-controls.v-input .v-label {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.87);
            }
        }

        &__specific-user-input {
            .v-input__append-inner {
                display: none !important;
            }

            .v-chip {
                margin: 3px !important;
            }
        }
    }

    .select-sources {
        display: flex;
        flex-wrap: wrap;

        .v-input--checkbox {
            border: none;
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            padding-top: 0px;
            margin-top: 0px;

            &:not(:last-child) {
                margin-right: 15px;
            }

            label.v-label.theme--light {
                font-size: 11px;
                color: rgba(0, 0, 0, 0.72) !important;
            }

            i.v-icon.notranslate.mdi.mdi-checkbox-blank-outline.theme--light {}

            i.v-icon.notranslate.mdi.mdi-checkbox-marked.theme--light.accent--text {}
        }

        .v-application {
            color: #2196f3 !important;
        }

        .accent--text {
            color: #2196f3 !important;
        }
    }

    .standard-height {
        .v-input__slot {
            max-height: 40px !important;
            min-height: 40px !important;
        }
    }

    .v-autocomplete {
        .v-label {
            top: 10px !important;
        }

        .v-label--active {
            top: 8px !important;
        }

        &:not(.v-input--is-focused).v-select--chips input {
            max-height: 25px;
            padding: 0;
        }
    }

    .filter-container {
        .v-input__slot {
            margin-bottom: 0 !important;
        }

        .filter-item {
            display: flex;
            flex-flow: row;
            max-width: 554px;
            align-items: center;
            text-align: center;
            // justify-content: center;
            position: relative;

            &__delete-button {
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }

            &:not(:first-of-type) {
                margin-top: 11px;
            }

            &:hover {
                .filter-item__delete-button {
                    opacity: 1;
                }
            }

            &__selectbox {
                width: 200px;
                min-width: 200px;
                margin-right: 16px;
                max-height: 40px;
            }

            &__input {
                width: 350px;
                max-height: 40px;
            }

            &__button {
                font-size: 14px;
                font-weight: 600;
                margin-top: 12px;
                line-height: 1.71;
                letter-spacing: normal;
                color: #2196f3 !important;
                align-items: center;
                display: flex;

                .v-icon.v-icon {
                    margin-left: 0 !important;
                }

                &:focus,
                &:focus-within {
                    outline: 0 !important;
                }
            }

            &__delete-button {
                width: 44px;
                height: 40px;
                color: #757575;
                position: absolute;
                right: -40px;
                top: 0px;
                justify-content: center;
                display: flex;
            }

            &__file-size {
                &-option-selectbox {
                    margin-right: 8px;
                    width: 100px;
                }

                &-option-input {
                    width: 340px;
                }
            }
        }
    }

    .edit-labels {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #383b41;
    }

    .edit-sub-labels {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #383b41;
        padding-bottom: 8px;
    }
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
        background-color: unset;
    }

    .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
        opacity: 1;
    }

    .v-btn-toggle>.v-btn.v-btn--active,
    .v-btn-toggle>.v-btn.v-btn--active::before {
        color: #fff;
    }

    .v-btn-toggle--group>.v-btn.v-btn {
        border-color: #757575;
        border-left: 1px solid #757575 !important;
    }

    .v-btn:before {
        top: -1px !important;
        left: -1px !important;
    }

    .edit-industry-area {
        .v-list-item__content {
            overflow: visible;

            &:first-of-type {
                padding-bottom: 0 !important;
            }
        }

        .v-text-field__details {
            position: absolute;
            left: 0;
            bottom: -23px;
        }
    }


    .preview-header {
        margin-top: 24px;
        h2 {
            font-family: 'Open Sans', sans-serif !important;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
            margin-bottom: 16px;
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-height: 80px;
        }

        .header-info {
            font-family: 'Open Sans', sans-serif !important;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
        }
    }


    .tooltip-wrapper {
        max-width: 250px;
        width: 130px;
        height: 50px;
        border-radius: 4px;
        background-color: #6d6d6d;
        position: absolute;
        top: -55px;
        left: -35px;
        border-radius: 4px;
        box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;
        padding: 8px;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 34px;
        }

        span {
            color: rgba(255, 255, 255, 0.87) !important;
            font-size: 12px !important;
            line-height: 1.33 !important;
            font-family: 'Open Sans', sans-serif !important;
            font-weight: 400;
        }
    }

    .v-menu__content {
        border-radius: 8px !important;
        box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;

        .v-list-item {
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        .v-list-item__title {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--black-87);
        }
    }

    .v-application--is-ltr .v-list-item__icon:first-child {
        margin-right: 10px !important;
    }


    .v-btn--contained {
        border-radius: 18px !important;
        box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
    }

  .v-btn:not(.v-btn--round).v-size--default,
    .v-btn--icon.v-size--default {
        height: 36px !important;
    }

    .v-btn--icon.v-size--default {
        margin-left: 4px;
        width: 36px !important;
    }

    .v-expansion-panel {
        border-radius: 20px !important;
        box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
            0 3px 1px -2px rgba(80, 80, 80, 0.12) !important;
        background-color: #fff;
        border: unset !important;
    }

    .v-expansion-panel::before {
        box-shadow: unset !important;
    }

    .v-expansion-panel-header {
        box-shadow: unset !important;
        border: unset !important;
    }

    .v-window {
        border-radius: 20px !important;
        margin: 0 24px !important;
    }

    .v-expansion-panel-content {
        border-radius: 20px !important;
        font-family: 'Open Sans', sans-serif !important;
    }

    .v-expansion-panel-content__wrap {
        padding: 0 !important;
    }

    .v-text-field.v-text-field--enclosed .v-text-field__details {
        margin-bottom: 8px;
    }


    .file-name {
        padding-left: 7px;
    }

    input[type=file],
    /* FF, IE7+, chrome (except button) */
    input[type=file]::-webkit-file-upload-button {
        /* chromes and blink button */
        cursor: pointer !important;
    }

    .chevron-down {
        transition: 0.3s all ease-in-out;
        transform: rotate(180deg);

        i {
            text-decoration: none !important;
        }
    }

    .mal-list-wrapper {
        .mal-list-row {
            align-items: center;
            display: flex;
            flex-direction: row;

            .mal-icon-wrapper {
                height: 35px;
                width: 35px;
                padding-top: 5px;
            }
        }
    }

    .mal-list-wrapper:hover,
    .mal-list-wrapper:active,
    .mal-list-wrapper:focus {
        background-color: #f2f2f2;
        transition: all 0.2s ease-in-out;
    }

    .malicious-style {
        border-color: #bb2a45 !important;
        background-color: #f3e1e5 !important;
        color: #bb2a45 !important;

        text-decoration: none !important;
        border-bottom: 1px solid;
        position: relative;
        text-indent: 0;

        .share-setting-text {
            text-decoration: none !important;
            text-decoration-color: transparent !important;
            text-decoration-style: unset !important;
            border: none !important;
            border-bottom: transparent !important;
            border-bottom-color: transparent !important;
            border-image: none !important;
            border-image-width: 0 !important;
        }
    }

    .v-btn--icon.v-size--default.chevron-btn-menu {
        height: 20px !important;
        width: 20px !important;

        i {
            height: 20px !important;
            width: 20px !important;
        }
    }
}

.new-investigation-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .cancel-btn {
        background-color: transparent !important;
        border-radius: 18px !important;
        border: solid 1px #f56c6c !important;
        color: #f56c6c !important;
    }

    .create-btn {
        border-radius: 18px !important;
        box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
        background-color: #2196f3 !important;
        color: #fff !important;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}

.checkbox-error {
    left: 3px !important;
    bottom: -3px !important;

    .v-messages__message {
        font-size: 9px !important;
    }

    .new-investigation__combo {
        .v-chip__content {
            overflow: initial !important;
            display: inline-flex !important;
        }

        .v-input__prepend-inner {
            .v-input__icon {
                i {
                    font-size: 22px;
                    margin-top: 1px;
                }
            }
        }
    }

    &__position {
        left: 15px !important;
    }
}

.new-investigation__combo {
    .v-input__prepend-inner {
        .v-input__icon {
            i {
                font-size: 22px;
                margin-top: 1px;
            }
        }
    }
}

.bounce-enter-active {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.select-specific-users {
    .v-chip {
        margin: 4px !important;
    }
}

.filter-list-select {
    .vue-treeselect__indent-level-0:not(:first-child) {
        border-top: 1px solid #e0e0e0;
    }

    &.k-treeselect .vue-treeselect__input-container input {
        height: 40px;
    }

    .vue-treeselect__indent-level-1 .vue-treeselect__option.vue-treeselect__option--selected {
        border-left: solid 5px !important;
        border-color: #2196f3 !important;
        padding-left: 11px !important;

        .vue-treeselect__label {
            color: #1976d2 !important;
        }
    }

    .vue-treeselect__indent-level-1 .vue-treeselect__option {
        padding-left: 16px !important;
    }
}
