.ip-restriction {
    &__delete-button {
        width: 44px;
        height: 40px;
        color: #757575;
        position: absolute;
        right: -40px;
        top: 0;
        justify-content: center;
        display: flex;
    }

    &__button {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #2196f3;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .v-input--selection-controls {
        margin-top: 0 !important;
    }

    .v-input--radio-group__input {
        display: flex;
        flex-flow: column;
    }

    .v-radio {
        &:first-child {
            margin-bottom: 8px !important;
        }

        label {
            font-size: 14px !important;
            font-weight: normal !important;
            font-stretch: normal !important;
            font-style: normal !important;
            line-height: 1.5 !important;
            letter-spacing: normal !important;
            color: #383b41 !important;
        }
    }
}

.copy-to-clipboard {
    max-width: 720px !important;

    &__container {
        display: flex;

        .v-btn {
            padding: 0 8px !important;
            font-size: 14px;
            font-weight: 600;
            margin-top: 1px;
        }
    }
}