.campaign-manager-report-summary-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1300px) {
        grid-template-columns: 1fr;

        .campaign-manager-report-summary-info-card {
            max-width: 300px;
        }

        &__right {
            margin-left: 0 !important;
        }

        @media (max-width: 620px) {

            &__left,
            &__right {
                flex-direction: column;
                margin-left: 0 !important;
            }

            .campaign-manager-report-summary-info-card {
                margin-left: 0 !important;
            }
        }
    }

    &__left {
        display: flex;

        .campaign-manager-report-summary-info-card:last-child {
            margin-left: 16px;
        }

        @media (min-width: 1201px) {
            flex-basis: 50%;
        }

        .campaign-manager-report-summary-info-card {
            flex-basis: 50%;
        }
    }

    &__right {
        display: flex;
        margin-left: 16px;

        &>div:last-child {
            margin-left: 16px;
        }

        &>.campaign-manager-report-summary-info-card:first-child {
            .campaign-manager-report-summary-info-card-body__icon {
                right: -2px !important;
                bottom: -2px !important;
            }
        }

        @media (min-width: 1201px) {
            flex-basis: 50%;
        }

        .campaign-manager-report-summary-info-card {
            flex-basis: 50%;
        }
    }

    .campaign-manager-report-summary-info-card {
        margin-top: 24px;
        margin-left: 16px;
      &.campaign-manager-report-summary-info-card--email-icon .campaign-manager-report-summary-info-card-body__icon{
        right:0 !important; ;
        bottom:-2px !important;
      }
        &:first-child {
            margin-left: 0 !important;
            .campaign-manager-report-summary-info-card-body__icon {
                right: -10px;
                bottom: -12px;

                img {
                    max-height: 80px;
                    max-width: 80px;
                }
            }
        }

        &:nth-child(3) {
            @media (max-width: 1024px) {
                margin-left: 0;
            }

            margin-right: 16px;
        }

        &--submitted-data {
            &-icon {
                background-color: #ffffff;
                mix-blend-mode: normal;
                opacity: 0.3;
                border-radius: 6px;
                height: 64px;
                width: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .campaign-manager-report-summary-info-card-body__icon {
                bottom: 4px;
            }
        }
    }
}
.campaign-manager-report-printout-summary-cards{
  @media (max-width: 1024px){
    .campaign-manager-report-summary-cards__left{
      flex-wrap: wrap;
    }
  }
}
.campaign-manager-schedule-dialog__container{
    border:1px solid #E0E0E0;
    border-radius: 8px;
    margin-top: 24px;
}
.campaign-manager-schedule-dialog__item{
    color:#383B41;
    font-size:14px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px 16px 16px;
    border-bottom:1px solid #E0E0E0;
    gap:8px;
    &:last-child{
        border-bottom:none;
    }
}
.campaign-manager-schedule-dialog__item--scenario-name{
    max-width:300px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
