.campaign-manager-report-summary {
  &__general-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__category-item {
    padding: 1rem;
    border: 1px solid #E0E0E0;

    &:nth-child(n + 1) {
        border-top: none;
    }

    &:nth-child(n - 1) {
        border-left: 1px solid #E0E0E0;
    }

    &:nth-child(even) {
        border-left: none;
    }

    &:first-child {
        border-top: 1px solid #E0E0E0;
    }

    &:nth-child(2) {
        border-top: 1px solid #E0E0E0;
    }

    &:last-child {
        border-right: 1px solid #E0E0E0;
    }
  }

  .campaign-manager-summary-card__body-item {
    justify-content: space-between;
  }

  &-scenario-stats {
    &__chart {
      &-container {
        max-width: 350px;
        margin: -60px auto;
        max-height: 350px;
      }
    }
  }

  &-campaign-info {
    &__right-side {
      margin-right: 24px;

      button {
        min-width: 102px !important;
      }
    }
  }
}
