.email-settings {
    &__list-item {
        max-width: 554px;
        .v-text-field.v-text-field--enclosed .v-text-field__details {
            margin-bottom: 6px;
        }

        &--text {
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87) !important;
        }

        .v-list-item__content {
            padding: 0 !important;
            overflow: visible;
        }

        &--header {
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87) !important;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;
        }

        &--sub-header {
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87) !important;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
        }
    }

    &__form {
        .email-settings__list-item {
            margin-bottom: 3px;
        }
    }

    &__checkbox {
        z-index: 6;
    }

  &__subject {
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 8px 4px 8px 10px;
    align-self: center;
    span {
      color: rgba(56, 59, 65, 0.72);
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      margin-right: 12px;
    }
  }
  &__change-order{
    display:flex;
    align-items: center;
    text-transform:uppercase;
    margin-left:24px;
    margin-top:-12px;
  }

    &__checkbox-container {
        padding-top: 14px !important;
        padding-bottom: 6px !important;
        margin-top: 0 !important;
    }

    &__header {
        font-size: 24px !important;
        line-height: 1.29 !important;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87) !important;
        overflow: visible;
        opacity: 0.9;

        &-container {
            max-width: 100% !important;
        }
    }

    &__sub-header {
        font-size: 14px;
        line-height: 1.5 !important;
        opacity: 0.9;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87) !important;
        overflow: visible;
    }

    &__btn-util {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        max-height: 36px;
    }

    &__required__text {
        font-family: 'Open Sans', sans-serif !important;
        margin-top: -36px;
        z-index: 9;
        font-size: 9px;
        font-weight: normal;
        line-height: normal;
        margin-left: 10px;
        letter-spacing: normal;
        color: #474747 !important;
    }

    .v-list-item__content>*:not(:last-child) {
        margin-bottom: 0;
    }
  &__information{
    display: flex;
    gap:8px;
    border-radius: 8px;
    background-color: #F1F8FE;
    max-width: 581px;
    padding: 16px;
    margin-bottom: 24px;
    &-text{
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  &__defender-toggle {
    align-items: center;
  }

  &__defender-status {
    text-align: left;
  }

  &__defender-status-title {
    color: var(--Black-Black, #383b41) !important;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 21px !important;
  }

  &__defender-status-subtitle {
    color: var(--Black-Black, #383b41) !important;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 19px !important;
    margin-top: 4px;
  }

  &__defender-email-form {
    .k-form-group__content-hint {
      margin-bottom: 6px;
    }
  }
}
