.other-settings {
    &__link {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.71;
        letter-spacing: normal;
        color: #2196f3 !important;
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 768px) {
            margin-top: 10px;
            justify-content: center;
        }
    }

    &__header {
        max-width: 100% !important;
    }

    &__api-settings {
        &-container {
            display: flex;
            align-items: center;

            .v-text-field.v-text-field--enclosed .v-text-field__details {
                margin-bottom: 2px;
            }

            .v-input--dense>.v-input__control>.v-input__slot {
                margin-bottom: 0;
            }

            label {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.87) !important;
                opacity: 0.7;
            }
        }
    }

    &__title {
        font-size: 24px !important;
        line-height: 1.29 !important;
        opacity: 0.9;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87) !important;
        overflow: visible;
    }

    &__sub-title {
        font-size: 14px;
        line-height: 1.5 !important;
        letter-spacing: normal;
        opacity: 0.9;
        color: rgba(0, 0, 0, 0.87) !important;
        overflow: visible;
    }

    &__checkbox {
        z-index: 6;

        .v-input__slot {
            margin-bottom: 0 !important;
            margin-top: -5px;
        }

        &.v-input--selection-controls {
            padding-top: 0 !important;
        }

        .v-label {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87) !important;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__list-item {
        max-width: 554px;
        overflow: visible;
        .v-list-item__content {
            padding: 0 !important;
            overflow: visible;
        }

        &-enter-prise {
            min-height: auto !important;
            margin-top: 5px;
            max-width: 591px !important;
        }

        &-container {
            max-width: 630px;

            &-item {
                &--1 {
                    margin-left: 50px !important;
                }

                &--2 {
                    margin-left: 56px !important;
                }
            }
        }

        .v-list-item {
            padding: 0 !important;

            &--active {
                border-left: none !important;
            }
        }

        .v-list-group__header {
            max-width: 554px;
        }

        &-header {
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87) !important;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;
        }
    }

    &__list-group {
        .v-list-group__header {
            padding: 0 !important;
            border-left: none !important;
            max-width: 554px;
        }

        .v-list-group__items {
            .v-list-item {
                padding: 0 !important;
                overflow: visible;
            }

            .v-list-item__content {
                overflow: visible;
            }
        }

        .v-list-item__content {
            padding: 0 !important;
        }
    }

    &__btn-util {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
        letter-spacing: normal;
        color: #ffffff;
        max-height: 36px;
    }

    .v-list-item__content>*:not(:last-child) {
        margin-bottom: 0;
    }
}

.site-url {
    &__container {
        margin-left: 41px;
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
            margin-left: 0;
        }
    }

    &__message {
        opacity: 0.7;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87);
        display: inline-block;
        margin-right: 21px;

        &--1 {
            margin-top: 18px !important;
            margin-right: 47px;
        }

        &--2 {
            margin-top: 10px !important;

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }

        &--3 {
            margin-top: 17px !important;
        }
    }

    &__textfield {
        max-width: 409px !important;

        &--2 {
            margin-top: -9px !important;

            @media (max-width: 768px) {
                margin-top: 8px !important;
            }
        }
    }
}

.margin-status-optional {
    margin-bottom: 12px;
}
