.matching-modal.version-history {
  -ms-overflow-style: none;
  scrollbar-width: none;
    .k-table__wrapper {
        .card .table-wrapper .el-table th>.cell.actions-label {
            margin-left: 0 !important;
        }
    }
}

.matching-modal.version-history::-webkit-scrollbar {
    display: none;
}
