.data-container-with-search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-top: 1px solid #e0e0e0;

    &__text {
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        color: #383b41;
        line-height: 18px;
        padding: 0 16px;
        flex-grow: 1;
    }

    &__actions {
        margin-right: 24px;

        .v-icon {
            font-size: 20px !important;
        }
    }

    .v-input {
        margin-top: 0;
    }

    .v-text-field__slot input {
        font-size: 12px !important;
        line-height: 18px;
    }

    .theme--light.v-text-field>.v-input__control {

        &>.v-input__slot:before,
        .v-input__slot:after {
            visibility: hidden !important;
        }
    }

    &__text-field--error .v-text-field__slot input {
        color: #b83a3a !important;
    }

    &__button--error.v-btn.v-btn--disabled {
        font-weight: 600;
        font-size: 14px;
        color: #757575 !important;
    }
}

#app .data-container-with-search-item__text-field--error .v-text-field__slot input {
    color: #b83a3a !important;
}