
.disabled-chevron {
  opacity: 0.3;
  .v-ripple_container {
    display: none !important;
    &:before,
    &:after {
      opacity: 0 !important;
    }
  }
  &:before {
    opacity: 0 !important;
  }
  .v-icon {
    &:after {
      opacity: 0 !important;
    }
  }
}
.hidden-icon-link {
  background-color: #757575 !important;
  color: #ffffff !important;
}

.tlp-select {
  .tlp_subtitle {
    opacity: 0.7;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #474747;
  }
  &__chip {
    &--green {
      background-color: #43a047 !important;
      color: #fff !important;
      border-radius: 12px !important;
      .v-icon {
        color: #fff !important;
      }
    }
    &--amber {
      background-color: #e6a23c !important;
      color: #fff !important;
      border-radius: 12px !important;
      .v-icon {
        color: #fff !important;
      }
    }
    &--red {
      background-color: #f56c6c !important;
      color: #fff !important;
      border-radius: 12px !important;
      .v-icon {
        color: #fff !important;
      }
    }
    &--white {
      color: #000 !important;
      background-color: #fff !important;
      border: 1px solid #000;
      border: 1px solid #757575 !important;
      border-radius: 12px !important;
      .v-icon {
        color: #6d6d6d !important;
      }
    }
  }
}
.incident-wrapper {
  .incident-container {
    min-height: 100vh;
    width: 100%;

    .incident-inner {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;

      .incident-card {
        width: 100%;
        min-height: 100vh;
        padding: 0 !important;
        padding: 32px 96px !important;
        padding-bottom: 100px !important;
      }

      .incident-steps {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f5f7fa;
        margin: 25px -96px;
        padding-left: 96px;
        height: 57px;

        .active-step {
          border: solid 1px #409eff !important;
          color: #409eff !important;
        }

        .steps {
          align-items: center;
          display: flex;
          flex-direction: row;
          margin-right: 10px;
          font-family: 'Open Sans', sans-serif !important;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.5);

          .step-number {
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            border: solid 1px #909399;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.87);
          }

          .active-step-num {
            border: solid 1px rgba(0, 0, 0, 0.87) !important;
          }

          .active-step-span {
            color: rgba(0, 0, 0, 0.87) !important;
          }

          hr {
            width: 69px;
            height: 1px;
            border: 1px solid #757575;
            margin: 0 10px;
            @media only screen and (max-width: 1025px) {
              width: 32px !important;
              margin: 0 4px;
            }
          }
        }
      }

      .incident-header {
        p {
          font-family: 'Open Sans', sans-serif !important;
          font-size: 24px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.29;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
          margin-bottom: 0 !important;
        }

        span {
          font-family: 'Open Sans', sans-serif !important;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }

  .img-wrapper {
    position: relative;
  }

  .footer-actions {
    align-items: center;
    bottom: 0;
    background-color: #f5f7fa;
    display: flex;
    left: 0;
    position: fixed;
    justify-content: space-between;
    padding: 0 96px;
    height: 68px;
    width: 100%;
    z-index: 9999;

    .cancel-btn {
      background-color: transparent !important;
      border-radius: 18px !important;
      border: solid 1px #f56c6c !important;
      color: #f56c6c !important;
      z-index: 9999;
    }

    .previous-btn {
      border-radius: 18px !important;
      border: solid 1px #2196f3 !important;
      color: #2196f3 !important;
      z-index: 9999;
    }

    .create-btn {
      border-radius: 18px !important;
      box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
      background-color: #2196f3 !important;
      color: #fff !important;
      z-index: 9999;
    }
  }

  .create-btn {
    border-radius: 18px !important;
    box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
    background-color: #2196f3 !important;
    color: #fff !important;
    z-index: 9999;
  }

  .v-text-field--outlined.error--text fieldset {
    border: 1px solid #ff5252 !important;
  }

  .v-text-field--outlined.errored-selectbox fieldset {
    border: 1px solid #ff5252 !important;
  }

  .v-autocomplete.affect-combobox .v-input__slot {
    height: auto !important;
  }

  .v-autocomplete.affect-combobox {
    .v-chip--select {
      margin: 4px;
    }
    .v-messages__message {
      color: #f56c6c !important;
    }
  }

  .v-card-headline {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #000;
  }

  .v-card-sub-header {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000 !important;
  }

  .edit-name-textfield,
  .edit-description,
  .edit-select {
    font-size: 13px !important;
  }

  .v-cart-icon-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-right: 24px;
    box-shadow: 0 2px 20px 0 rgba(100, 181, 246, 0.5);
    border: solid 1px rgba(100, 181, 246, 0.5);
    background-color: #e3f2fd;
  }

  .incident-header {
    p {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 0 !important;
    }

    span {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .incident-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;

    .input-header {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }

    .input-sec-header {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }

    .input-sub {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 10px;
    }

    .input-select {
      max-width: 205px;
      color: rgba(0, 0, 0, 0.72);
      font-family: 'Open Sans', sans-serif !important;
      font-size: 13px !important;
      margin-bottom: 32px;
    }

    .first-select {
      max-width: 554px;
    }

    .input-select > .v-input__control {
      max-width: 554px !important;
      align-items: center;
      display: flex;
      height: 40px !important;
    }

    .date-row {
      max-width: 390px !important;
    }
  }

  .v-input {
    .v-input__slot {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.72);
      border-radius: 8px !important;
    }
  }

  .v-text-field {
    .v-input__slot {
      box-shadow: unset !important;
    }
  }

  .v-select {
    .v-input__slot {
      box-shadow: unset !important;
      height: 40px !important;
    }
  }

  .v-autocomplete {
    .v-input__slot {
      border: 1px solid rgba(0, 0, 0, 0.16) !important;
      box-shadow: unset !important;
      height: 36px !important;
    }
  }

  .upload-wrapper {
    max-width: 554px;
    position: relative;
    /*
    .up-btn {
      align-items: center;
      border-radius: 18px !important;
      box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5) !important;
      background-color: #2196f3 !important;
      text-transform: none !important;
      padding: 0 !important;
      display: flex !important;
      justify-content: center !important;
      max-height: 36px !important;
      width: 100%;

      .v-input__prepend-outer {
        display: none !important;
      }

      .v-input__control {
        cursor: pointer !important;

        .v-input__prepend-inner {
          margin-left: 8px !important;
          margin-right: 0 !important;
          margin-top: 7px;

          i {
            color: #fff !important;
          }
        }

        .v-btn__content {
          margin-left: -5px !important;
          font-family: 'Open Sans', sans-serif !important;
          font-size: 14px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: normal;
        }

        .v-input__slot {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0 !important;
          cursor: pointer !important;

          .v-text-field__slot {
            flex: unset !important;
            position: absolute;
            width: 100%;
            text-align: left;
            z-index: 13;
          }

          .v-file-input__text {
            color: #fff !important;
            display: block !important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 42px;
            padding-top: 8px;
            height: 35px;
            width: 100%;
            border-radius: 20px;
          }

          .v-input__icon {
            min-width: 15px !important;
            width: 16px !important;
            position: absolute;
            left: 23px;
            z-index: 12;
          }
        }

        .v-input__slot::before,
        .v-input__slot::after {
          display: none !important;
        }

        i {
          font-size: 18px !important;
          margin-top: -22px !important;
          padding-right: 10px !important;
        }

        .v-text-field__details {
          position: absolute;
          bottom: -17px;
        }
      }
    }

    .v-input__append-inner {
      display: none !important;
    }
    */
  }

  .step-container {
    max-width: 554px;
  }

  .investigate-header {
    p {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 0 !important;
    }

    span {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .investigation-content {
    border-radius: 12px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .mail-preview {
      width: 100%;
      max-width: 600px;
      position: relative;
    }

    .investigation-filters {
      width: 300px;
      background-color: white;
      box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
      0 3px 1px -2px rgba(80, 80, 80, 0.12);
      align-items: center;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 32px;
      transition: all 0.3s ease-in-out;
      position: relative;

      @media only screen and (max-width: 1025px) {
        position: absolute;
        top: 170px;
        right: 0;
        z-index: 99999;
        border-radius: 12px;
        box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.2), 0 1px 1px 0 rgba(243, 243, 243, 0.14),
        0 1px 1px -1px rgba(204, 204, 204, 0.12);
        border: solid 1px #2196f3;
      }

      .filter-part {
        border-bottom: 1px solid #b3d4fc;
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        padding-bottom: 30px;
        width: 240px;
        max-height: 300px;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;

        @supports (overflow: -webkit-marquee) and (justify-content: inherit) {
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
        }

        .v-input--selection-controls.v-input {
          margin-top: 10px !important;
        }

        .select-header {
          transition: all 0.3s ease-in-out;
        }

        .switch-row {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          min-height: 40px;

          .img-wrapper {
            align-items: center;
            display: flex;
            min-width: 40px;
            max-width: 40px;
            padding-top: 6px;
            img {
              padding-top: 25%;
              padding-right: 8px;
            }
          }

          label {
            margin-top: 10px;
            margin-left: 5px;
            max-width: 170px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
          height: 25px !important;
          min-height: 25px !important;
          margin-bottom: 0 !important;
          max-width: 210px;

          label {
            height: 24px !important;
            margin-left: 8px !important;
            font-family: 'Open Sans', sans-serif !important;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            max-width: 100%;
          }
        }

        .accent--text {
          color: #2196f3 !important;
        }

        .theme--light.v-messages {
          display: none !important;
        }
      }

      .filter-part:last-child {
        border-bottom: unset !important;
      }

      .filter-part:nth-child(2) {
        height: auto;
        max-height: 300px;
        overflow: auto;
      }

      .filter-part:first-child {
        padding-top: 14.2px !important;
      }

      .attr-error {
        position: absolute;
        bottom: -20px;
        right: 0;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 9px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #d0021b;
      }

      &__area {
        width: 100%;
        padding: 0 24px;
        max-height: 300px;
        overflow-y: auto;
        position: relative;
        margin: 24px 0 12px 0;
        min-height: 200px;
        &--breaker {
          padding: 0 24px;
          width: 100%;
          &__line {
            background-color: #b3d4fc;
            height: 1px;
            width: 100%;
          }
        }
        &--filter {
          width: 100%;
          line-height: 2.3;
          padding: 3px 0;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
          height: 33px;
          &__title {
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
          }
          &--label {
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
          }
          &__all-header {
            color: #757575;
            position: absolute;
            bottom: -10px;
            right: -8px;
            font-size: 8px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: default;
          }
        }
      }
    }
  }

  .filters-content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    .input-header {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }

    .input-sub {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 16px;
    }

    .input-select {
      max-width: 205px;
      color: rgba(0, 0, 0, 0.72);
      font-family: 'Open Sans', sans-serif !important;
      font-size: 13px !important;
      margin-bottom: 32px;
    }

    .first-select {
      max-width: 554px;
    }

    .input-select > .v-input__control {
      max-width: 554px !important;
      align-items: center;
      display: flex;
      height: 40px !important;
    }

    .date-row {
      max-width: 390px !important;
    }
  }

  .underlined-warn {
    border-bottom: 1px solid #f56c6c;
    color: inherit;

    .icon {
      color: #f56c6c !important;
      font-size: 24px !important;
      text-decoration: none !important;
      margin-left: 20px;
      margin-bottom: 7px;
    }
  }

  .post-wrapper {
    max-width: 696px;
  }

  .select-error {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d0021b;
    margin-left: 8px;
    margin-top: 17px;
  }

  .v-card-headline {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #000;
  }

  .v-card-sub-header {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000 !important;
  }

  .edit-name-textfield,
  .edit-description,
  .edit-select {
    font-size: 13px !important;
  }

  .v-cart-icon-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-right: 24px;
    box-shadow: 0 2px 20px 0 rgba(100, 181, 246, 0.5);
    border: solid 1px rgba(100, 181, 246, 0.5);
    background-color: #e3f2fd;
  }

  .preview-header {
    margin-top: 24px;

    h2 {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 16px;
      width: 100%;
      display: block;
      max-height: 80px;
    }

    .header-info {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 43px;
      border-bottom: 1px solid #b3d4fc;
    }
  }

  .preview-body {
    margin-top: 24px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid #b3d4fc;
    position: relative;
    padding-bottom: 24px;
    min-height: auto;
    max-height: 500px;
    overflow: auto;

    h2 {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 16px;
    }

    .company-img {
      display: flex;
      position: absolute;
      right: 0;
      top: 20px;
      width: 84px;
      height: 84px;

      img {
        width: 100%;
        height: auto;
      }
    }

    a {
      display: block !important;
      min-width: max-content !important;
    }
  }

  .bodyExpanded {
    height: 100% !important;
    max-height: 100% !important;
    padding-bottom: 56px;
  }

  .preview-footer {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding-bottom: 24px;
    overflow: auto;
    max-width: 100%;
    height: auto;

    h2 {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 16px;
    }

    .attachment-wrapper {
      display: flex;
      flex-direction: row;

      .attachment {
        width: 182px;
        height: 32px;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-right: 16px;
        border: 1px solid transparent;

        .attach-icon {
          min-width: 40px;
          height: 32px;
          align-items: center;
          display: flex;
          justify-content: center;
        }

        .red-icon {
          background-color: #bb2a45 !important;
        }

        .blue-icon {
          background-color: #2196f3 !important;
        }

        .file-name {
          width: 142px;
          text-align: left;
          display: block;
          font-family: 'Open Sans', sans-serif !important;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.58;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
          padding-left: 7px;
          &:before {
            content: '';
            display: block;
          }
        }
      }

      .red-attach {
        border: 1px solid #bb2a45;
      }

      .blue-attach {
        border: 1px solid #2196f3;
      }
    }
  }

  .unselected-warn {
    border-bottom: 1px solid #bb2a45;
    color: #bb2a45;
    padding: 0 2px !important;
  }

  .v-autocomplete {
    .v-input__slot {
      box-shadow: unset !important;
      border: 1px solid rgba(0, 0, 0, 0.24) !important;
    }
  }

  .v-text-field.v-text-field--enclosed .v-input__append-inner {
    margin-top: 0 !important;
    display: flex;
    align-items: center;
  }

  .first-date {
    .v-input__slot {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: none !important;

      label {
        padding-left: 65px !important;
      }
    }
  }

  .sec-date {
    .v-input__slot {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: none !important;

      label {
        padding-left: 60px !important;
      }
    }
  }

  .date-picker {
    font-family: 'Open Sans', sans-serif !important;

    .v-input__slot {
      box-shadow: unset !important;
      border: 1px solid rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      text-align: center;

      input {
        font-family: 'Open Sans', sans-serif !important;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.54);
        padding-left: 50px !important;
        padding-top: 8px !important;
      }

      label {
        padding-top: 0 !important;
      }
    }

    .v-input__slot::after,
    .v-input__slot::before {
      display: none;
    }
  }

  .date-col {
    position: relative;
  }

  .date-icon {
    top: 12px;
    left: 25px;
    position: absolute;
    font-size: 18px !important;
    z-index: 99;
  }

  .date-to {
    position: absolute;
    left: 0;
    top: 11px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.72);
    z-index: 13;
  }

  .max-char {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 100%;
  }

  .v-input > .v-input__control > .v-text-field__details {
    // error messages.
  }

  .v-application input {
    border-radius: 8px !important;
    border: solid 1px rgba(0, 0, 0, 0.16) !important;
  }

  .required {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #474747;
    margin-left: 6px;
    margin-top: -2px;
  }

  .close-incident {
    position: absolute;
    right: -13px;
    top: 13px;
  }

  .affect-input.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
    border: none !important;
  }

  .row-with-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .icon-btn {
    margin-top: unset;
    margin-left: -5px;
    height: 25px !important;
    width: 25px !important;
  }

  .step-name {
    width: max-content;
  }

  .filter-header {
    align-items: center;
    display: none;
    justify-content: space-between;
    padding-top: 24px;
    width: 240px;
    transition: all 0.3s ease-in-out;

    .select-header {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      transition: all 0.3s ease-in-out;
    }

    i {
      margin-top: 3px;
      font-size: 27px;
    }
  }

  .minify-filter {
    width: 120px !important;
  }

  .minify-part,
  .minify-switch {
    padding-left: 10px;
    width: 100% !important;
  }

  // Email Preview css
  .preview-header {
    margin-top: 24px;

    h2 {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 16px;
      width: 100%;
      display: block;
    }

    .header-info {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .preview-body {
    margin-top: 24px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid #b3d4fc;
    position: relative;
    padding-bottom: 24px;
    min-height: auto;
    max-height: 500px;
    overflow: auto;

    .company-img {
      display: flex;
      position: absolute;
      right: 0;
      top: 20px;
      width: 84px;
      height: 84px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .bodyExpanded {
    height: 100% !important;
    max-height: 100% !important;
    padding-bottom: 56px;
  }

  .preview-footer {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    position: relative;

    h2 {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 16px;
    }

    .attachment-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;

      .attachment {
        width: 182px;
        height: 32px;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-right: 16px;
        margin-bottom: 8px;

        .attach-icon {
          min-width: 40px;
          height: 32px;
          align-items: center;
          display: flex;
          justify-content: center;
        }

        .red-icon {
          background-color: #bb2a45 !important;
        }

        .blue-icon {
          background-color: #2196f3 !important;
        }

        span {
          width: 100%;
          text-align: center;
          font-family: 'Open Sans', sans-serif !important;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.58;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
        }
      }

      .red-attach {
        background-color: #f3e1e5;
      }

      .blue-attach {
        background-color: #f1f8fe;
      }
    }
  }

  .preview-buttons {
    margin-top: 24px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #b3d4fc;
    padding-top: 24px;

    .v-btn {
      border-radius: 18px !important;
      border: solid 1px #909399;
      box-shadow: unset !important;
      background-color: #fff !important;
      margin-right: 16px;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.87);
      padding-left: 16px !important;

      .v-icon {
        color: #909399;
        font-size: 19px !important;
        margin-right: 8px;
        margin-top: 1px;
        border: unset !important;
      }
    }

    .active-act {
      color: #2196f3 !important;
      border: solid 1px #2196f3 !important;
    }
  }

  .preview-border {
    border-top: 1px solid #b3d4fc;
    padding-top: 24px;
  }

  // Details css

  .detail-discovery {
    margin-top: 24px;

    .disc-header {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
      padding-bottom: 8px;
    }

    .discovery-p {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .impact-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);

    .impact-left {
      min-width: 100px;
      font-weight: 600 !important;
    }

    .impact-right {
      max-width: 80%;
    }
  }

  .border-padding {
    padding-bottom: 8px;
    border-bottom: 1px solid #b3d4fc;
  }

  .member-company-body {
    .v-slide-group__content {
      border-bottom: unset !important;
    }
  }

  .expand-contaniner {
    width: 100%;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, #fff 50%);

    button,
    .v-btn:not(.v-btn--round).v-size--default {
      width: auto !important;
      height: 24px !important;
      border-radius: 12px !important;
      background-color: #409eff !important;
      box-shadow: unset !important;
      color: #fff;
      text-transform: capitalize !important;
      font-size: 12px !important;
      font-weight: 500 !important;
      padding-left: 13px !important;

      i {
        width: 18px !important;
      }
    }
  }

  .opacityExpanded {
    background-image: none !important;
  }

  .preview-comments {
    height: 0;
    opacity: 0;
    transition: max-height 0.25s ease-in;
    overflow: hidden;

    .comment-row {
      display: flex;
      flex-direction: row;
      padding-top: 6px;

      .comment-input {
        margin-top: 3px;
        margin-right: 16px;

        .v-input__slot {
          font-family: 'Open Sans', sans-serif !important;
          font-size: 13px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.54);
          padding-left: 24px !important;
          max-height: 70px;
          min-height: 40px;

          textarea {
            max-height: 70px;
            overflow: auto;
            margin-bottom: 5px;
            margin-top: 2px;
            margin-right: 2px;
          }

          label {
            top: 10px;
          }

          fieldset {
            padding-left: 18px !important;
          }
        }
      }

      .send-btn {
        border-radius: 18px !important;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(33, 150, 243, 0.3) !important;
        background-color: #2196f3 !important;
        color: #fff !important;
        height: 36px !important;
        margin-top: 5px;

        i {
          font-size: 18px !important;
          padding-right: 8px;
        }
      }
    }

    .comment-row {
      border-radius: 4px;
      background-color: #f5f7fa;
      display: flex;
      padding: 16px;
      margin-bottom: 8px;

      .user-wrapper {
        .username,
        .company-name {
          font-family: 'Open Sans', sans-serif !important;
          font-size: 14px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #2196f3;
          padding-right: 4px;
          cursor: pointer;
        }

        .company-name {
          padding-left: 4px;
        }
      }

      .the-comment {
        margin-bottom: 0 !important;
        padding-top: 8px !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87);
      }
    }

    .see-all-comments {
      padding-top: 16px;
      padding-bottom: 24px;

      span {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2196f3;
        cursor: pointer;
      }
    }
  }

  .open-comments {
    // post incident (0) min-height: 226px;
    height: auto !important;
    transition: max-height 0.25s ease-in;
    padding-bottom: 24px;
    opacity: 1;
    z-index: -5;
  }

  .add-comment {
    background-color: #fff !important;
    height: 60px;
    padding: 0 !important;
  }

  .unselected-warn {
    border-bottom: 1px solid #bb2a45;
    color: #bb2a45;
    padding: 0 2px !important;
  }

  .hide-buttons {
    opacity: 0;
    padding: 0 !important;
    height: 20px !important;
  }

  .display-none {
    display: none !important;
  }

  .tooltip-wrapper {
    max-width: 250px;
    width: 130px;
    height: 50px;
    border-radius: 4px;
    background-color: #6d6d6d;
    position: absolute;
    top: -55px;
    left: -35px;
    border-radius: 4px;
    box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;
    padding: 8px;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 34px;
    }

    span {
      color: rgba(255, 255, 255, 0.87) !important;
      font-size: 12px !important;
      line-height: 1.33 !important;
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 400;
    }
  }

  // Threat sharing Content
  .threat-sharing-content {
    min-height: 200px;
    width: 100%;
    padding: 24px !important;
    background-color: #ffffff;
    border-radius: 20px !important;

    @media only screen and (max-width: 500px) {
      padding: 16px !important;
    }
  }

  .ts-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .ts-header-btn-1 {
    display: flex;
  }

  .ts-title {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    max-width: 79%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  // Threat sharing Content End

  .notification-wrapper {
    background-color: #fff;
    padding: 0;
  }

  .v-menu__content {
    border-radius: 8px !important;
    box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;

    .v-list-item {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }

    .v-list-item__title {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black-87);
    }
  }

  .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 10px !important;
  }

  .ts-user-comp-detail {
    align-items: center;
    display: flex;
    margin-top: 8px;
    flex-wrap: wrap;
  }

  .v-btn--contained {
    border-radius: 18px !important;
  }

  .v-data-footer {
    margin-top: 24px !important;
  }

  .v-data-footer__select {
    .v-select {
      margin: 0 !important;
      margin-top: 3px !important;
      margin-left: 32px !important;
      height: 30px !important;
    }

    .v-text-field > .v-input__control > .v-input__slot:after {
      border: none !important;
      display: none !important;
    }

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
      border: none !important;
    }

    .v-input__append-inner {
      margin-left: 0 !important;
      margin-top: 3px !important;
      margin-right: 5px !important;
      padding-left: 0 !important;
    }

    .v-select__slot {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 27px !important;
      background-color: #f2f2f2 !important;

      .v-select__selections {
        margin-left: 10px;
      }
    }

    .v-input__icon {
      width: 20px !important;
      min-width: 20px !important;
      height: 20px !important;
    }
  }

  .v-btn:not(.v-btn--round).v-size--default,
  .v-btn--icon.v-size--default {
    height: 36px !important;
  }

  .v-btn--icon.v-size--default {
    margin-left: 4px;
    width: 36px !important;
  }

  .ts-tags {
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: max-content;

    > .tag-btn,
    > div > .tag-btn {
      border-radius: 18px;
      border: solid 1.5px #c0c4cc;
      background-color: #fff;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      height: 32px !important;
    }
  }

  .ts-footer {
    align-items: center;
    display: flex;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .ts-like {
    margin-right: 10px;
    align-items: center;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
      margin-left: 4px;
    }
  }

  .ts-message {
    margin-right: 40px;
    align-items: center;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
      margin-left: 4px;
    }
  }

  .ts-harmful {
    margin-right: 15px;
    align-items: center;
    display: flex;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
    }
  }

  .ts-success {
    display: flex;
    align-items: center;

    span {
      align-items: center;
      font-size: inherit;
      line-height: unset;
      line-height: 2;
    }
  }

  .ts-body {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .ts-user-comp {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);

    a {
      text-decoration: none;
    }

    .ts-user-date {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 12px;
      font-weight: normal !important;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .ts-action-counter {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .ts-actions {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 3px;
  }

  .v-expansion-panel {
    border-radius: 20px !important;
    box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
    0 3px 1px -2px rgba(80, 80, 80, 0.12) !important;
    background-color: #fff;
    border: unset !important;
  }

  .v-expansion-panel::before {
    box-shadow: unset !important;
  }

  .v-expansion-panel-header {
    box-shadow: unset !important;
    border: unset !important;
  }

  .v-window {
    border-radius: 20px !important;
    margin: 0 24px !important;
  }

  .v-expansion-panel-content {
    border-radius: 20px !important;
    font-family: 'Open Sans', sans-serif !important;
  }

  .v-expansion-panel-content__wrap {
    padding: 0 !important;
  }

  .title-field {
    .v-text-field__details {
      margin-bottom: 0 !important;
    }
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 8px;
  }

  .disabled-cursor,
  button:disabled {
    cursor: no-drop !important;
    pointer-events: all !important;
  }

  #upload-file-input {
    opacity: 0;
    position: absolute;
  }

  input[type=file], /* FF, IE7+, chrome (except button) */
  input[type=file]::-webkit-file-upload-button {
    /* chromes and blink button */
    cursor: pointer !important;
  }

  @media only screen and (max-width: 1025px) {
    .hide-step {
      display: none !important;
    }
    .filter-header {
      display: flex;
    }
  }

  .display-none {
    display: none !important;
  }

  #share-settings-links {
    display: block;
  }

  .chevron-down {
    //transition: 0.3s all ease-in-out;
    //transform: rotate(180deg);

    i {
      text-decoration: none !important;
    }
  }

  .v-btn--icon.v-size--default.chevron-btn-menu {
    height: 30px !important;
    width: 30px !important;
    i {
      height: 30px !important;
      width: 30px !important;
    }
  }

  .is-anonym-check {
    height: 28px !important;
    margin-bottom: 24px;
    margin-top: 0 !important;

    label {
      height: 25px !important;
      font-size: 14px !important;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  .red-malicious-alert::before {
    border: unset !important;
  }

  .malicious-style {
    .red-malicious-alert:not(:first-child) {
      display: none !important;
    }
  }

  .filter-no-selected {
    position: absolute;
    bottom: -20px;
    right: 20px;
    color: #d0021b;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
  }
}

.select-row-wrap {
  display: flex;
  width: 100%;
  padding: 0 2px;

  .email-name {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .email-icon {
    font-size: 19px !important;
    padding-right: 24px;
  }

  .email-type {
    height: 25px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    min-width: 100px;
    margin-right: 15px;
  }

  .btn-pending {
    background-color: #00bcd4;
  }

  .btn-active {
    background-color: #2196f3;
  }

  .btn-inactive {
    background-color: #757575;
  }

  .btn-warning {
    background-color: #e6a23c;
  }

  .btn-cancelled {
    background-color: #f56c6c;
  }

  .email-time {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    min-width: 150px;
  }

  .select-row-inline {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;

    .file-type-wrap {
      display: flex;
      justify-content: space-between;
    }
  }
}
.malicious-style,
.malicious-link {
  .share-setting-text {
    text-decoration: none !important;
    text-decoration-color: transparent !important;
    text-decoration-style: unset !important;
    border: none !important;
    border-bottom: transparent !important;
    border-bottom-color: transparent !important;
    border-image: none !important;
    border-image-width: 0 !important;
  }
}

.text-selected {
  border-radius: 1px !important;
  background-color: #d1e9fc !important;
  border-bottom: 1px solid #2196f3 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  width: max-content;
  max-width: 100%;
}

.clean-link {
  padding: 0 2px !important;
  border-radius: 1px !important;
  border-bottom: 1px solid #2196f3 !important;
  color: #2196f3 !important;
}

.selected-link {
  background-color: #d1e9fc !important;
}

.phishing-link {
  background-color: #f3e1e5 !important;
  border-bottom: 1px solid #bb2a45 !important;
  color: #bb2a45 !important;
  width: max-content;
}

.clean-attach {
  background-color: #f1f8fe;
  border: 1px solid transparent !important;
}

.malicious-attach {
  background-color: #f3e1e5;
  border: 1px solid transparent !important;
}

.mal-list-wrapper {
  .mal-list-row {
    align-items: center;
    display: flex;
    flex-direction: row;

    .mal-icon-wrapper {
      height: 35px;
      width: 35px;
      padding-top: 5px;
    }
  }
}

.mal-list-wrapper:hover,
.mal-list-wrapper:active,
.mal-list-wrapper:focus {
  background-color: #f2f2f2;
  transition: all 0.2s ease-in-out;
}

.detail-parts:first-child {
  margin-top: 24px !important;
}

.detail-parts {
  margin-top: 16px;
}
.edit-html-template-button {
  position: absolute;
  top: -10px;
  right: 0px;
}
