.template-preview__text--body,.template-preview__text--title{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color:#383B41;
}
.template-preview__text--subject{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #383b41;
}

.template-preview__steps {
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  margin-top: 12px;

  &__separator {
    border: none;
    border-top: 1px solid #e7e7e7 !important;
  }

  &__header {
    color: #383b41;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
  }
}
