.callback-template-select-list {
  min-height: 80vh !important;

  .toggle-advanced-search {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2196f3;
  }

  .wrapWord {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .difficulty-easy {
    background: #217124 !important;
  }

  .difficulty-medium {
    background: #2196f3 !important;
  }

  .difficulty-hard {
    background: #f56c6c !important;
  }

  &-title {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #383b41;
  }

  &-subtitle {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #383b41;
    margin-bottom: 16px;
  }

  &-content {
    border-radius: 20px;
    box-shadow: 0 1px 5px 0 rgba(80, 80, 80, 0.2), 0 2px 2px 0 rgba(80, 80, 80, 0.14),
      0 3px 1px -2px rgba(80, 80, 80, 0.12);
    background-color: #ffffff;

    &--search {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  &__container {
    padding: 8px 120px 0 0 !important;
    width: 100%;

    &-main {
      .v-text-field__details {
        display: none;
      }
    }

    &-card {
      box-shadow: 0 10px 15px -5px rgba(205, 205, 205, 0.5) !important;
      padding: 10px 24px 0 24px !important;
      border-radius: 20px !important;
      width: 100%;
    }
  }

  .emailTemplatePreview-class {
    box-shadow: 0 2px 20px 0 rgba(100, 181, 246, 0.5) !important;
    border: solid 1px rgba(100, 181, 246, 0.5) !important;
    background-color: #e3f2fd !important;
  }

  .k-dialog__title {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2196f3 !important;
  }

  .k-dialog__header-max-height {
    box-shadow: none !important;
    z-index: 9 !important;
    position: relative !important;
  }

  .k-dialog__header {
    padding: 0 !important;
    margin-bottom: 40px;
    border: none !important;
  }

  .filter-field-scenarios {
    padding: 24px 16px !important;
    max-width: 140px;
  }

  .template-list {
    padding: 16px 24px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    cursor: pointer;

    &:hover,
    &--selected {
      background-color: #f1f8fe;
      border-bottom-color: #b3d4fc;

      .template-list--item__header {
        color: #2196f3 !important;
      }

      .v-chip .v-chip__content {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        color: #1173c1 !important;
      }

      .v-chip {
        background: #ffffff !important;
        border: 1px solid #1173c1 !important;
        box-sizing: border-box !important;
        border-radius: 4px !important;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }

    &--selected {
      .template-list--item__header {
        font-weight: 600 !important;
      }
    }

    &--item {
      .v-chip__content {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        color: #757575 !important;
      }

      &:not(:last-child) {
        margin-bottom: 0 !important;
      }

      &__difficulty {
        padding: 4px 8px;
        background: #2196f3;
        border-radius: 4px;
        max-height: 24px;
        align-items: center;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
      }

      &__tags {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__narrator {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
      }

      &__language,
      &__narrator-gender {
        color: #383b41b8;
        font-size: 12px;
        font-weight: 600;
      }

      &__divider {
        color: #e0e0e0;
      }

      &__header {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: normal;
        color: #383b41;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        margin-right: 24px;
      }

      &__sub-header {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #757575;

        &--span {
          font-weight: normal;
        }
      }

      &__chip {
        background: #ffffff !important;
        border: 1px solid #757575 !important;
        box-sizing: border-box;
        border-radius: 4px !important;
        font-weight: 600 !important;
        padding: 4px 8px;
        max-height: 24px;
        font-size: 12px !important;
        line-height: 16px !important;
        color: #757575 !important;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }
  }

  .template-preview {
    &__header {
      background-color: #f2f2f2;
      height: 64px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__header-left {
      display: flex;
      align-items: center;
    }

    &__header-left-text {
      margin-left: 8px;
      font-weight: 600;
      font-size: 16px;
      color: #383b41;
    }

    &__steps {
      background-color: #ffffff !important;
      border-radius: 0px !important;
      border: none !important;
      margin-top: 0px !important;
    }
  }

  .vertical-panes {
    width: 100%;
    height: 600px;
    padding: 0;
  }

  .vertical-panes > .pane {
    text-align: left;
    padding: 0;
    overflow: auto;
    background: #ffffff;

    &:first-child {
      border-bottom-left-radius: 24px;
      border-right: 5px solid #ccc;
    }

    &:last-child {
      border-bottom-right-radius: 24px;
    }
  }
  .template-preview {
    height: 100%;
  }
  .template-preview__steps {
    height: 100%;
  }
  .callback-template-preview-steps {
    height: 100%;
    border-radius: 0px;
  }
  .callback-template-preview-steps__steps-container {
    height: 100%;
  }
}
