.training-library-cover-image-field__upload {
  .k-file-uploads__item.align-center {
    align-items: flex-start !important;
  }

  .k-file-uploads__item-preview {
    width: 320px;
    height: 320px;
    flex: 0 0 320px;
  }

  .k-file-uploads__item-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none !important;
  }

  .k-file-uploads__item-details--filename {
    margin-top: 24px;
  }

  .k-file-uploads__item-actions {
    margin-top: 24px;
  }
}

.training-library-cover-image-field__upload--error {
  .k-file-uploads__wrapper {
    border-color: #ff5252 !important;
  }

  .k-file-uploads__hint {
    color: #ff5252 !important;
  }
}
