.training-library-list-view-first-card,.training-library-list-view-card{
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 12px !important;
}
.training-library-list-view-first-card-header{
  display: flex;
  justify-content: space-between;
  &__search{
    min-width: 328px;
  }
  & > div:first-child {
    display: flex;
    gap:8px;
    align-items: center;
  }
  &__right-side{
    display: flex;
    align-items: center;
    gap:16px;
  }
}
@media (max-width:1100px) {
.training-library-list-view-first-card-header{
  flex-direction: column;
  gap:16px;
  align-items: center;
   }
}
@media (max-width: 812px){
  .training-library-filters{
    flex-direction: column;
    gap: 16px;
  }
}
.training-library-clust-btn{
  border-radius: 6px !important;
  width: 42px !important;
}
.training-library-new-btn{
  color: #fff;
  padding: 6px 16px;
  border-radius: 18px;
  box-shadow: 0 2px 5px 0 rgba(100, 181, 246, 0.5);
  background-color: #2196f3;
  i{
    font-size: 20px;
  }
  &__text{
    height: 24px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
  }
}
.training-library-settings-popup {
  background-color: #fff;
  top: 0;
  border: 1px solid #2196f3;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.2), 0 1px 1px 0 rgba(243, 243, 243, 0.14), 0 1px 1px -1px rgba(204, 204, 204, 0.12);
  box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.2), 0 1px 1px 0 rgba(243, 243, 243, 0.14), 0 1px 1px -1px rgba(204, 204, 204, 0.12);
  padding: 18px 24px 16px 24px;
  position: absolute;
  right: 0;
  width: 277px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  z-index: 98;
}
.training-library-settings-header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 19px;

  .training-library-settings-span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .close-icon {
    cursor: pointer;
  }

  span {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: normal;
  }
}
.training-library-settings-sub-header{
  display: block;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 14px;
}
.training-library-popup-row{
  align-items: center;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87) !important;
  word-break: break-all;

  .v-input--selection-controls {
    margin-top: 0 !important;

    .accent--text {
      color: #2196f3 !important;
    }

    .v-input__slot {
      margin-bottom: 0 !important;
    }

    .v-messages {
      display: none !important;
    }
  }
}
.training-library-tab-label{
  color:#383B41;
  font-size: 16px;
  font-weight: 400;
}
.training-library-first-card-tabs .is-active {
  .training-library-tab-label{
    font-weight: 600;
    color:#2196F3;
  }
}
.training-library-first-card-sub-tabs .v-skeleton-loader__chip{
  height: 24px;
  margin-top: 12px;
}
.training-library-first-card-sub-tabs--loading{
  .el-tabs__active-bar.is-top {
    visibility: hidden;
  }
}
.training-library-list-view-card {
  .table-wrapper {
    padding-top:32px !important;
  }
  .selection-row{
    top:34px !important;
  }
}
.training-library-filters-container{
  background-color: #FAFAFA !important;
  position: relative;
  display: flex;
  &__left{
    width:240px;
    & > div {
      max-height: 48px;
    }
    & > div:last-child{
      max-height: 48px;
    }
  }
  &__right{
    width:280px;
    background-color: #fff !important;
    position: relative;
    &-container{
      padding:16px;
      .el-date-editor--datetimerange{
        & .el-range-separator {
          margin-right: 10px;
          margin-left: -2px;
          font-size: 12px;
        }
        &.el-input__inner input{
          min-width: 68px !important;
        }
      }
    }
    &-footer{
      display: flex;
      padding-right:12px;
      border-top: 1px solid #E0E0E0;
      justify-content: flex-end;
      position: absolute;
      bottom: 8px;
      padding-top: 4px;
      z-index: 1111;
      background:white;
      width: 100%;
      border-top:1px solid #E0E0E0;
    }
  }
  &__empty{
    padding:16px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 326px;
  }
}
.training-library-search-filter-body{
  max-height: 230px;
  margin-bottom:28px;
  min-height: 190px;
  overflow: auto;
}
.training-library-filter-active{
  background-color: #fff;
}
.training-library-filters{
  display: flex;
  justify-content: space-between;
  & > div {
    display: flex;
    justify-content: space-between;
  }
  input::placeholder{
    color:rgba(56, 59, 65, 0.72) !important;
  }
  input {
    caret-color:transparent;
  }
}
.training-library-filtering-options{
  &-parent-list-item-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left-side{
      display: flex;
      align-items: center;
      gap:8px;
    }
    &__right-side{
      display: flex;
      align-items: center;
    }
  }
}
.training-library-filter-number{
  background-color: #2196F3;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.training-library-training-preview{
  .form-group-horizontal-content__label{
    flex-basis:auto !important;
  }
  .form-group-horizontal-content .v-text-field{
    max-width: 200px !important;
  }
}
.training-library-content-by-language{
    justify-content: flex-start;
    .form-group-horizontal-content__label{
      width:74px;
    }
    &.form-group-horizontal-content > *:first-child {
    max-width: initial;
    flex-basis:auto;
    }
}
.training-library-filters-badges{
  margin-top:24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left-side{
    display: flex;
    align-items: center;
    gap:16px;
  }
  &__clear{
    font-size: 12px;
    font-weight: 600;
    .v-btn__content{
      text-transform: capitalize;
    }
  }
}
.training-library-filter-badge{
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  gap:4px;
  background-color: #E0E0E0;
  &__left-side{
    display: flex;
    align-items: center;
    gap:2px;
  }
  &-type{
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color:#757575;
  }
  &-value{
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color:#383B41;
  }
}
.training-library-filters-badges__container{
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap:wrap;
}
.training-library-card-view{
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 12px;
  padding: 24px;
  margin-top:24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.training-library-card{
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  background:#fff;
  &__type{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    color:#fff;
    text-align: center;
    padding:4px 0;
    border-radius: 6px 6px 0 0;

    &--learning-path{
      background-color:#43A047;
    }
    &--training{
      background-color: #2196F3;
    }
    &--poster{
      background-color: #D1AD0C;
    }
    &--infographic {
      background-color: #0198AC;
    }
    &--screensaver{
      background-color: #B6791D;
    }
  }
  &__img{
    position:relative;
    height: 170px;
    &--no-img{
      display:flex;
      justify-content: center;
      gap:8px;
      align-items: center;
      height: 100%;
      background-color: #E0E0E0;
      &-text{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        color:#fff;
        line-height: 24px
      }
    }
  }
  &__body{
    padding:16px;
    &-title{
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #383B41;
    }
    &-sub{
      display:flex;
      align-items: center;
      gap:8px;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      color:#757575;
      &-bull{
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #D9D9D9;
      }
    }
  }
}
