.safari-hide-tooltip{
  &:before {
    content: '';
    display: block;
  }
}
.cursor-pointer{
  cursor: pointer;
}
.bg-image-incident-analysis {
  background-image: linear-gradient(to bottom, #f3a0a0, #f56c6c 99%);
}
.bg-investigation-green{
  background-color: #43a047;
}
.hide-caret {
  .v-input__append-inner {
    display: none !important;
  }
}

.max-width--780 {
  max-width: 780px !important;
}

.w-25 {
  width: 25%;
}

.w-5 {
  width: 5%;
}

.max-width-228 {
  max-width: 228px;
}
.w-100 {
  width: 100%;
}
.max-w-100{
  max-width: 100% !important;
}
.max-w-300{
  max-width: 300px !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.no-box-shadow{
  box-shadow: none !important;
}

.full-width {
  width: 100%;
}
.hidden-icon-link {
  background-color: #757575 !important;
  color: #ffffff !important;
}
.max-char {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 100%;
}
.position-relative {
  position: relative;
}

.cursor-default{
  cursor:default !important;
}

.bg-white {
  background: white;
}

.order-0{
  order:0;
}
.order-1{
  order:1;
}
.order-2{
  order:2
}
.bg-yellow{
  background-color:#fefdf2 ;
}

.bg-phishing-gray{
  background-color:#FAFAFA;
}
.fs-5{
  font-size:20px;
}
.fs-4{
  font-size:16px;
}
.fs-3{
  font-size:12px;
}
.bg-aqua-light{
  background-color:#F1F8FE;
}
.text-primary-color{
  color: #383B41;
}
.text-preview-gray{
  color:rgba(56, 59, 65, 0.72) !important;
}
.max-w-554{
  max-width: 554px !important;
}
.access-text{
  max-width: 554px !important;
  color: #383B41;
  background-color:#F1F8FE;
  padding:16px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom:8px;
  font-weight: 400;
  line-height: 21px;
}
.account-privacy-button{
  margin-left: 16px;
  background: transparent !important;
  &:before{
    background: transparent !important;
  }
}

.p-0 {
  padding: 0 !important;
}
.gap-2{
  gap:8px;
}
.error-bg-red{
  background-color: #FEF7F7;
}

.br-2{
  border-radius:8px;
}
.fs-medium{
  font-size:14px;
}
.bg-warning{
  background-color: rgba(230, 162, 60, 0.20);
}
