.safari-hide-tooltip{
  &:before {
    content: '';
    display: block;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.bg-image-incident-analysis {
  background-image: linear-gradient(to bottom, #f3a0a0, #f56c6c 99%);
}

.bg-investigation-green{
  background-color: #43a047;
}
