.alert-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(230, 162, 60, 0.2);
  border-radius: 8px;
  padding: 16px;

  &__default-content {
    display: flex;
    align-items: flex-start;

    & p {
      margin: 0;
      margin-left: 8px;
      font-size: 14px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &--campaign-report {
    p {
      margin-top: 2px;
    }
  }
  &--error {
    background-color: #f56c6c1a;

    p {
      color: #b83a3a;
    }
  }

  &--info-custom {
    background-color: #f1f8fe;
    border-radius: 4px;
    padding: 16px;

    .alert-box__default-content {
      align-items: flex-start;
      gap: 12px;
      
      p {
        color: #383b41 !important;
        font-weight: 400;
        line-height: 21px;
        margin-left: 0;
      }
    }
  }
}
