.k-dialog {
    &__card {
        border-radius: 12px !important;
        box-shadow: 0 11px 15px -7px rgba(80, 80, 80, 0.2), 0 24px 38px 0 rgba(80, 80, 80, 0.14),
            0 9px 46px 8px rgba(80, 80, 80, 0.12);
    }

    &__header {
        margin-bottom: 0;
        border-bottom: 1px solid #ebeef5;
        padding: 24px !important;

        &-max-height {
            z-index: 99999;
            opacity: 1;
            position: sticky !important;
            top: 0;
            background-color: white;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.15;
        letter-spacing: normal;
        color: #2196f3 !important;
        white-space: pre-wrap;
        word-break: break-word;
      &--delete{
        color: #B83A3A !important;
      }
    }

    &__sub-title {
        margin-top: 2px;
        margin-left: 0 !important;
        font-size: 16px;
        letter-spacing: normal;
        white-space: pre-wrap;
        word-break: break-word;
        font-weight: 400;
        color: #383B41 !important;
    }

    &__body {
        font-size: 13px;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.72) !important;

        overflow-y: auto;
        padding: 24px 24px 24px 24px;
        border-bottom: 1px solid #ebeef5;

        .k-table__wrapper {
            width: 100%;
        }
    }

    &__button {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
        letter-spacing: normal;
        padding: 0 8px !important;
    }

    &__footer {
        padding: 8px 24px 8px 24px;

        >* {
            width: 100%;
        }

        &-max-height {
            position: sticky;
            bottom: 0;
            z-index: 999999;
            background: white;
        }
    }

  &__max-height-border-radius{
    border-radius:12px !important;
  }

}

.k-dialog__body::-webkit-scrollbar {
    display: none;
}

.k-dialog__body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.k-dialog-error {
    .k-dialog__header .v-cart-icon-wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        background: #f56c6c !important;
        border-color: #f56c6c !important;

        i {
            color: white !important;
        }
    }

    .k-dialog__title {
        color: #f56c6c !important;
    }
}

.delete-user {
    &__footer {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &-button {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.71;
            letter-spacing: normal;
        }
    }
}
.k-dialog__delete-icon-wrapper.v-cart-icon-wrapper{
  background: #FEF7F7 !important;
  border: 1px solid #B83A3A !important;
}
