.k-navigation-drawer.k-navigation-drawer--landing-page-preview {
  transition: right 0.25s ease-in-out;
  z-index: 1003 !important;

  &.nested-drawer {
    z-index: 1004 !important;
  }
}

.landing-page-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.17);
  z-index: 1002 !important;
  cursor: pointer;

  &.nested-overlay {
    z-index: 1003 !important;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
