.common-report-target-groups-container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.common-report-target-groups-search-container {
  padding: 1rem;
  background-color: #F2F2F2;
  border-bottom: 1px solid #e0e0e0;
}

.common-report-target-groups {
  max-height: 300px;
  overflow-y: auto;
}

.common-report-target-group {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    color: #383B41;
    font-size: 14px;
  }

  &__divider {
    border: none;
    border-top: 1px solid #e0e0e0;
  }
}
