.connection-lost-wrapper{
  .v-card{
    border-radius:12px;
    background-color: white;
  }
}

.connection-lost-title {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.87);
    margin-left:0 !important;
}

.connection-lost-sub-title {
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54) !important;
}
