.el-picker-panel__body-wrapper, .el-picker-panel{
  font-family: "Open Sans", sans-serif;
}
.el-picker-panel{
  z-index:9999999 !important;
  border-radius: 8px;
  overflow: auto;
}
.el-range-editor.el-input__inner{
  display: inline-flex;
  align-items: center;
  padding: 3px 10px;
  width: 100%;
  height:auto;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.16);
  .el-range__icon{
    color: rgba(0, 0, 0, 0.72);
  }
  .el-range__close-icon{
    margin-left: 40px;
  }

  input{
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.72);
    &::placeholder {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.72);

    }
  }
}

.el-picker-panel__link-btn.el-button--default{
  background-color:#409EFF !important; ;
  color: white !important;
}

.el-date-editor {
  .el-input__inner {
    border-radius: 8px;
  }
}
.filter__date-picker {
  overflow: inherit !important;
  .el-time-panel{
    margin-left: -32px !important;
  }
}

.el-input.is-disabled .el-input__inner {
  background-color:#f2f2f2 !important;
  border:solid 1px rgba(0, 0, 0, 0.16);
  &::placeholder{
    color:rgba(0, 0, 0, 0.30);
  }
}

.date-picker-error{
  .el-date-editor.el-input input:not(:disabled) {
    border-color:#ff5252;
  }
}
