.el-picker-panel__body-wrapper, .el-picker-panel{
  font-family: "Open Sans", sans-serif !important;
}
.el-range-editor.el-input__inner{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 10px;
  width: 100%;
  border-radius: 8px;
  border: solid 1px currentColor;
  .el-range__icon{
    color: rgba(0, 0, 0, 0.72);
  }
  input{
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.72);
    &::placeholder {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.72);

    }
  }
}
