.feedback-popup {
    .v-card {
        border-radius: 12px !important;
    }

    &__header {
        padding: 24px !important;
        border-bottom: 1px solid #e0e0e0;
    }

    &__text-area {
        margin-top: 24px;
        padding: 0 24px !important;
        border-bottom: 1px solid #e0e0e0;
    }

    .v-list-item__content {
        padding: 0 !important;
    }

    .feedback-button {
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 24px;

        &--cancel {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: center;
            color: #f56c6c;
            margin-right: 16px;
        }

        &--success {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            color: #2196f3;
        }
    }
}

.feedback-popup__text-area-text {
    .v-input__slot {
        border-radius: 8px;
        border: solid 1px #2196f3;
        background: #ffffff !important;

        &:before,
        &:after {
            border: none !important;
        }

        .v-label {
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(56, 59, 65, 0.72);
        }
    }

    textarea {
        padding-top: 24px !important;
        font-size: 13px !important;
        font-weight: normal !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        color: #383b41 !important;
    }

    &:hover {
        .v-input__slot {
            border-radius: 8px;
            border: solid 1px #2196f3;
            background: #ffffff;

            &:before,
            &:after {
                border: none !important;
            }
        }
    }

    &:active {
        .v-input__slot {
            border-radius: 8px;
            border: solid 1px #2196f3;
            background: #ffffff;

            &:before,
            &:after {
                border: none !important;
            }
        }
    }
}