.k-form-group {
  min-height: auto !important;
  max-width: 554px;
  margin-bottom: 1px;

  &.width-auto {
    max-width: 700px !important;
  }

  .v-list-item__content {
    overflow: visible;
    padding: 0;
  }

  &.v-list-item {
    padding: 0;
  }

  .v-list-item__subtitle.k-form-group__sub-title {
    text-overflow: initial;
    white-space: initial;
    line-height: 21px !important;
  }

  .v-list-item__content > *:not(:last-child) {
    margin-bottom: 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2 !important;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  &__sub-title {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87) !important;
    margin-left: 0 !important;
    line-height: 21px !important;

    & #text {
      max-width: 554px;
    }
  }

  &__content {
    margin-top: 8px;

    &-hint {
      margin-bottom: 13px;
    }
  }
}

.k-form-group.k-form-group--horizontal {
  max-width: unset !important;
  .v-list-item__content {
    display: grid !important;
    grid-template-columns: 150px 1fr !important;
    column-gap: 8px !important;
  }

  .k-form-group__content {
    margin: 0;
  }
}

.k-form-group__title--horizontal {
  color: #383b41 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  align-self: center !important;
}