.input-merge-tag {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.text-to-speech {
    .v-input__slot {
      display: flex;
      flex-direction: column-reverse;
      justify-content: stretch;

      .v-input__prepend-inner {
        align-self: stretch !important;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        translate: -13px;
        width: calc(100% + 28px);
      }
    }
  }

  &__tags {
    display: flex;
    padding: 4px 8px;
    flex-wrap: wrap;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom: none;
    background-color: #f2f2f2;
  }

  &__tag {
    background-color: #2196f3 !important;
    color: #ffffff !important;
    font-weight: 600;
    text-transform: none;
  }

  &__audio-container {
    width: 100%;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
  }

  &__inner {
    width: 100%;
    min-height: 44px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f2f2f2;
    padding: 10px 14px;
  }

  &__badges-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__badges {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__badge {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    margin-right: 8px;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 4px;
    color: #757575;
  }

  &__audio-container {
    background-color: #ffffff;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
  }

  #input-merge-tag__play-text-to-speech-button:disabled {
    opacity: 0.5;
    background-color: #2195f3 !important;
    pointer-events: all;
    cursor: auto;

    i {
      color: #ffffff !important;
    }
  }
}
