.input-copy-to-clipboard {
    max-width: 745px;
    .v-text-field__details {
        display: none;
    }
}

.input-duration{
  max-width: 48px;
  .v-text-field__details {
    overflow: initial;
    padding-left: 8px !important;
  }
  .v-messages__message{
    white-space: nowrap;
  }
  &-days-text{
    position: absolute; top: 87px; left: 56px; font-size: 13px; color: #000;
  }
}
