.k-button-radio-group__info {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: #F1F8FE;
    padding: 12px 16px;
    border: 1px solid #F1F8FE;
    border-radius: 8px;
}