.v-menu__content.k-select__menu {
    z-index: 999999999 !important;
    .v-list.v-select-list {
        .v-list-item {
            padding: 0 16px !important;
            min-height: 40px !important;

            &__content {
                margin-bottom: 0 !important;
                padding: 8px 0 !important;

                .v-list-item__title {
                    overflow: visible !important;
                }
            }
            .v-list-item__action {
                .v-simple-checkbox {
                    .mdi {
                        &::before {
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
      .v-subheader{
        color:#1173C1 !important;
      }
    }

    &--super{
    min-width: 450px !important;
    }
    &--ultra {
        min-width: 400px !important;
    }
    &--huge {
        min-width: 350px !important;
    }
    &--big {
        min-width: 300px !important;
    }
    &--medium {
        min-width: 250px !important;
    }
    &--small {
        min-width: 190px !important;
    }
}
.v-select{
  .v-input__append-inner{
    .v-input__icon{
      z-index: 1;
    }
  }
}
