.password-complexity {
    display: flex;
    padding: 0 8px;
    margin-bottom: 24px;
    width: 100%;

    &__content {
        display: flex;
        width: 100%;

        &-label {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
            margin-right: 8px;
        }

        &-checker {
            display: flex;
            flex-grow: 1;

            &--group {
                font-size: 12px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: center;
                display: flex;
                flex-grow: 1;
                background: #e0e0e0;
                border: 1px solid #ffffff;
                border-radius: 4px;
                align-items: center;
                justify-content: center;
                color: white;
                max-width: 20%;
                height: 24px;
            }
        }
    }
}