.k-stepper {
  box-shadow: none !important;
  margin: 0 -96px;
  overflow: visible;
  &__items {
    overflow: visible;
  }
  @media (max-width: 500px) {
    margin: 0 -24px !important;
  }
  margin-top: 24px;
  &__header {
    background-color: #f5f7fa !important;
    padding-left: 75px;
    justify-content: flex-start !important;
    box-shadow: none !important;
    @media (max-width: 768px) {
      margin-top: 20px;
    }

    @media (max-width: 500px) {
      padding-left: 24px;
    }
  }

  &__step {
    &:first-child {
      padding-left: 24px !important;
      @media (max-width: 500px) {
        padding-left: 10px !important;
      }
    }
    padding: 0 !important;
    .v-stepper__step__step.primary {
      background-color: #2196f3 !important;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: normal;
      color: #ffffff;
    }

    &.v-stepper__step--active {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: normal;
      color: #2196f3 !important;

      .v-stepper__label {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: normal;
        color: #2196f3 !important;
        text-shadow: none !important;
      }
    }

    &.v-stepper__step--inactive {
      color: #757575 !important;

      .v-stepper__step__step {
        border: solid 1.5px #757575 !important;
        background-color: transparent !important;
        font-size: 14px !important;
        font-weight: 600;
        line-height: 1;
        letter-spacing: normal;
        color: #757575 !important;
      }

      .v-stepper__label {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: normal;
        color: #383B41 !important;
      }
    }

    &.v-stepper__step--complete {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.87) !important;

      .primary {
        background-color: transparent !important;

        .mdi-check {
          color: #2196f3 !important;
          font-size: 24px !important;
        }
      }
    }
  }

  &__divider {
    flex-basis: 4%;
    flex-grow: 0;
    margin: 0 16px !important;
    border-color: #757575 !important;
  }

  &__content {
    padding: 32px 24px 0 96px !important;
    @media (max-width: 500px) {
      padding-left: 24px !important;
    }

    .v-stepper__wrapper {
      overflow: visible;
    }
  }
}
.k-stepper__step--hidden,
.k-stepper__step--hidden + hr {
  display: none !important;
}
