.k-sub-tabs{
  .v-tabs-slider-wrapper {
    bottom: -2px !important;
    color: #0486fe !important;
  }
  .v-tabs-slider{
    width: calc(100% + 15.5px);
    position: absolute;
    left: -7.5px;
  }

  .v-slide-group__wrapper {
    padding-left: 16px !important;
  }
&__tab.v-tab{
   font-size: 14px !important;
   line-height: normal;
   letter-spacing: normal;
   color: #212121 !important;
   text-transform: capitalize;
   margin: 0 24px 0 0 !important;
   padding: 0 !important;
   &--active{
     color: #2196f3 !important;
     font-weight: 600 !important;
   }
 }

  &__container{
    margin-top: 24px !important;
  }

}
