.v-list-item__subtitle {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2 !important;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87) !important;
    margin-left: 2px;
}

.v-sheet {
    border-radius: 20px;
    background-color: white;
}

.v-card-headline {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: normal;
    color: #2196f3 !important;
    white-space: pre-wrap;
    word-break: break-word;
}

.v-cart-icon-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-right: 24px;
    box-shadow: 0 2px 20px 0 rgba(100, 181, 246, 0.5);
    border: solid 1px rgba(100, 181, 246, 0.5);
    background-color: #e3f2fd;
}

.switch-account {
    .v-card {
        overflow: visible !important;
    }

    &__header {
        border-bottom: 1px solid #e0e0e0;
        padding: 24px;

        .v-list-item__content {
            padding: 0 !important;
        }
    }

    &__content {
        padding: 24px;

        &--info-text {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #383b41;
            text-decoration: none;
            margin-bottom: 0;
        }

        &--current-user {
            &__section-header {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                color: #383b41;
                margin-bottom: 8px;
            }
            &__switch{
                .theme--light.v-input--switch{
                    margin-top:0 !important;
                    padding-top:0 !important;
                    margin-bottom: 8px;
                    &__track{
                        color:rgba(0, 0, 0, 0.87);
                    }
                }
                .v-input--switch__track{
                    width:34px !important;
                }
                label{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    color:#383B41 !important;
                }
            }

            &__logo {
                img {
                    width: 32px;
                    height: 32px;
                    border: solid 0.5px #dcdcdc;
                }

                margin-right: 8px;
            }

            &__details {
                display: flex;
                flex-flow: column;

                &--companyName {
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: #383b41;
                }

                &--role {
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.58;
                    letter-spacing: normal;
                    color: #383b41;
                }
            }
        }
    }

    &__footer {
        border-top: 1px solid #e0e0e0;
        padding: 16px 24px;
        display: flex;
        justify-content: flex-end;
    }
}
