.k-treeselect{
  .vue-treeselect{
      &__checkbox{
        width: 18px;
        height: 18px;
      &--unchecked{
        border: 2px solid gray;
      }
        border-radius: 2px;
        &--checked{
          background-color: #2196f3 !important;
          border-radius: 3px;
        }
        &--disabled{
          border-color: #e0e0e0 !important;
        }
      }
      &__check-mark{
        width: 6px;
        height: 13px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 0px;
        background-image: none;
      }
      &__menu{
        border-radius: 12px !important;
        box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;

      }
      &__label{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
      }
      &__count{
        font-size: 14px;
        line-height: 1;
      }
      &__placeholder{
        color:#bdbdbd;
      }
      &__multi-value{
      &-item{
        border-radius: 12px;
        @media not all and (min-resolution:.001dpcm) {
          @supports (-webkit-appearance:none) {
            border-width: 0;
          }
        }
        padding: 5px;
        background: #e0e0e0;
      }
        &-label{
          color: #000000;

        }
      }
      &__option{
        &--disabled{
          .vue-treeselect__label{
            color: rgba(0, 0, 0, 0.25);
          }
        }
      }
      &__value{
        &-remove{
          border-left: none;
          background-color: #757575;
          border-radius: 50%;
          color: #e0e0e0 !important;
          height: 16px;
          > svg {
            width: auto;
            height: 7px;
          }
        }
      }
    &__input-container{
      padding-top: 0 !important;
      input {
        height: 27px;
      }
    }
  }
  .vue-treeselect__menu-container{
    z-index:1001 !important;
  }
  &--error{
    &.vue-treeselect{
      .vue-treeselect__control{
        border-color: #ff5252 !important;
      }
    }
  }
  .vue-treeselect__option--disabled{
    background-color:#fff;
    .vue-treeselect__label{
      cursor:default;
    }
    &.vue-treeselect__option--selected{
      background-color:  #e3f2fd;
    }
  }
}

.vue-treeselect--focused {
  .vue-treeselect__control{
    border-color: rgba(25,118,230) !important;
  }
}

.vue-treeselect {
  min-height: 40px;
  &__single-value {
    line-height: 38px;
    color: #383b41;
    font-size: 13px;
  }
  &__control {
    border-radius: 8px !important;
    border: solid 1px rgba(0, 0, 0, 0.16) !important;
    min-height: 40px;
    .vue-treeselect__placeholder {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #383b41;
      line-height: 38px;
    }
  }
}
.vue-treeselect__label-container {
  label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    span {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #383b41;
    }
  }
  img {
    margin-right: 8px;
  }
}

.vue-treeselect--open-below .vue-treeselect__menu {
  top: 4px;
  border-radius: 8px !important;
  box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8) !important;
  margin-top: -2px;
}
.vue-treeselect__input {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #383b41;
}
.vue-treeselect__indent-level-1 {
  img {
    margin-left: 30px !important;
  }
  .vue-treeselect__label-container {
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .vue-treeselect__option {
    padding-left: 8px !important;
    .vue-treeselect__option-arrow-container {
      svg {
        margin-left: 30px !important;
      }
    }
  }
}
.vue-treeselect__indent-level-2 {
  img {
    margin-left: 60px !important;
  }
  .vue-treeselect__option-arrow {
    margin-left: 60px !important;
  }
  .vue-treeselect__option {
    .vue-treeselect__option-arrow-container {
      svg {
        margin-left: 60px !important;
      }
    }
  }
  .vue-treeselect__label-container {
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.vue-treeselect__indent-level-3 {
  img {
    margin-left: 60px !important;
  }
  .vue-treeselect__option-arrow {
    margin-left: 60px !important;
  }
  .vue-treeselect__option {
    .vue-treeselect__option-arrow-container {
      svg {
        margin-left: 60px !important;
      }
    }
  }
  .vue-treeselect__label-container {
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.vue-treeselect__indent-level-4 {
  img {
    margin-left: 60px !important;
  }
  .vue-treeselect__option-arrow {
    margin-left: 60px !important;
  }
  .vue-treeselect__option {
    .vue-treeselect__option-arrow-container {
      svg {
        margin-left: 60px !important;
      }
    }
  }
  .vue-treeselect__label-container {
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.vue-treeselect__indent-level-5 {
  img {
    margin-left: 60px !important;
  }
  .vue-treeselect__option-arrow {
    margin-left: 60px !important;
  }
  .vue-treeselect__option {
    .vue-treeselect__option-arrow-container {
      svg {
        margin-left: 60px !important;
      }
    }
  }
  .vue-treeselect__label-container {
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.vue-treeselect__indent-level-6 {
  img {
    margin-left: 60px !important;
  }
  .vue-treeselect__option-arrow {
    margin-left: 60px !important;
  }
  .vue-treeselect__option {
    .vue-treeselect__option-arrow-container {
      svg {
        margin-left: 60px !important;
      }
    }
  }
  .vue-treeselect__label-container {
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.vue-treeselect__control-arrow,
.vue-treeselect svg {
  color: #757575 !important;
  fill: #757575 !important;
  path {
    color: #757575 !important;
    fill: #757575 !important;
  }
}
