.add-in-configuration {
  &__container {
    .v-sheet.v-card {
      @media (max-width: 500px) {
        padding: 0 !important;
      }
    }
  }

  .v-list-item__content > *:not(:last-child) {
    margin-bottom: 0;
  }

  &__right-col {
    display: flex;
  }

  &__title {
    font-size: 24px !important;
    font-weight: normal;
    line-height: 1.29 !important;
    letter-spacing: normal;
    overflow: visible;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    overflow: visible;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f7fa;
    padding: 16px 96px !important;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    @media (max-width: 768px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
      justify-content: space-around;
    }

    &-btn-cancel {
      color: #f56c6c !important;
      border: 1px solid #f56c6c !important;

      box-shadow: none !important;
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      width: 86px;
      height: 36px !important;
    }

    &-btn-next {
      color: #ffffff !important;
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      width: 72px;
      height: 36px !important;
      border-radius: 18px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(33, 150, 243, 0.3);
      background-color: #2196f3;
    }

    &-btn-back {
      width: 68px;
      height: 36px !important;
      border-radius: 18px;
      border: solid 1px #00bcd4;
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #00bcd4 !important;
      box-shadow: none !important;
    }
  }

  &__card {
    width: 100%;
    min-height: 100vh;
    padding: 32px 96px !important;

    @media (max-width: 700px) {
      padding: 24px !important;
    }

    padding-bottom: 100px !important;
  }

  &__list-item {
    min-height: auto !important;

    .v-list-item__content {
      padding: 0;
    }

    .v-card-headline {
      white-space: normal;
    }
  }
}

.v-card-headline {
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-cart-icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-right: 24px;
  box-shadow: 0 2px 20px 0 rgba(100, 181, 246, 0.5);
  border: solid 1px rgba(100, 181, 246, 0.5);
  background-color: #e3f2fd;
}

.btn-util {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  max-height: 36px;
  @media (max-width: 768px) {
    margin: 8px 0;
  }
  .v-icon {
    font-size: 19px;
  }
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  margin-left: -4px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 32px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btn-util {
    @media (max-width: 768px) {
      max-width: 143px;
    }
  }
}

.link {
  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;

    @media (min-width: 768px) {
      margin-right: 32px;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #2196f3;
  }

  &__header {
    font-family: "Open Sans", sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  &__sub-header {
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.overlay {
  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-text {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.71;
      letter-spacing: normal;
      color: #2196f3;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__container {
    border-radius: 12px;
    box-shadow: 0 11px 15px -7px rgba(80, 80, 80, 0.2), 0 24px 38px 0 rgba(80, 80, 80, 0.14),
      0 9px 46px 8px rgba(80, 80, 80, 0.12);
    overflow-y: auto;
    height: 100%;
    max-height: 430px !important;

    @media (min-width: 600px) {
      max-width: 600px !important;
    }
  }
}

.v-card-sub-header {
  font-family: "Open Sans", sans-serif !important;

  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87) !important;
}

.logos {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &-buttons__container {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (max-width: 768px) {
      flex-direction: row;
    }
  }
}

.modal__container {
  @media (max-width: 768px) {
    padding: 0 !important;
  }
}

.download-add-in {
  .v-overlay__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0) !important;
    height: 100%;
  }

  .overlay__container {
    max-height: 636px !important;
  }
  .overlay__container-account.overlay__container {
    max-height: 864px !important;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: normal;
    color: #2196f3 !important;
  }

  &__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: normal;
    color: #2196f3 !important;
  }
  &__list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #d9d9d9;
    &-title {
      color: #383b41;
      font-size: 18px;
      font-weight: 600;
    }
    &-margin-title {
      margin-top: 12px;
    }
    &-desc {
      color: rgba(56, 59, 65, 0.72);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    &--hide-border {
      border-bottom: none !important;
    }
    &-info-card {
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 8px;
      margin-top: 8px;
      &--success {
        background-color: rgba(67, 160, 71, 0.15);
      }
    }
  }
}
.microsoft-365-add-in-list-item {
  .alert-box__default-content {
    align-items: center;
  }
}
