.phishing-reporter {
    &__tab {
        &-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 0 !important;
            margin-top: 24px !important;

            .v-card {
                @media only screen and (max-width: 500px) {
                    padding: 20px !important;
                }
            }
        }
    }

    &__tabs {
        &-items {
            margin-top: 8px;

            .v-window-item {
                margin-top: 0;
            }
        }
    }

    &__card {
        box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.2), 0 1px 1px 0 rgba(243, 243, 243, 0.14),
            0 1px 1px -1px rgba(204, 204, 204, 0.12) !important;
        padding: 10px 24px 0 24px !important;
        border-radius: 20px !important;
    }

    &__stats {
        padding: 24px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row;
        border-bottom: 2px solid #e4e7ed;
        margin: 0 24px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        &-cards {
            display: flex;
            flex-basis: 50%;
            flex-grow: 0;

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }

        &-card {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;

            &-left {
                &-icon {
                    width: 50px;
                    height: 50px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    box-shadow: none;
                    border-radius: 30px;
                    margin-right: 8px;

                    &.bg-green {
                        background: #43a047;
                    }

                    &.bg-turquoise {
                        background-color: #00bcd4;
                    }

                    &.bg-blue {
                        background-color: #2196f3;
                    }

                    &.bg-salmon {
                        background-color: #f56c6c;
                    }

                    &.bg-macaroni {
                        background-color: #e6a23c;
                    }

                    i {
                        margin-right: 0 !important;
                    }
                }
            }

            &-right {
                &-title {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.15;
                    letter-spacing: normal;
                    color: #2196f3;
                }

                &-stats {
                    margin-bottom: 0 !important;
                    font-size: 16px;
                    letter-spacing: normal;
                    color: rgba(0, 0, 0, 0.87);
                    max-width: 250px;
                }
            }
        }
    }
}

.phishing-reporter__header {
    padding: 11px 16px 16px 16px;

    &-left-column {
        display: flex;
        flex-basis: 73%;

        @media (max-width: 400px) {
            flex-direction: column;
        }
    }

    &-right-column {
        display: flex;
        flex-basis: 50%;

        .phishing-reporter__stats-cards:first-child {
            flex-basis: 73%;

            @media (max-width: 900px) {
                flex-basis: 50%;
            }
        }

        @media (max-width: 400px) {
            flex-direction: column;
        }

        .phishing-reporter__stats-cards:last-child {
            flex-basis: 27%;

            @media (max-width: 900px) {
                flex-basis: 50%;
            }
        }
    }

    &-container {
        border-radius: 20px;
        box-shadow: 0 10px 15px -5px rgba(205, 205, 205, 0.5);
        background-color: #ffffff;

        &-panel {
            margin: 0 37px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 16px 0;
            align-items: center;

            &-right-col {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding-left: 10px;
            }

            &-text {
                font-size: 14px;
                font-weight: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
            }
        }
    }
}