.test-connectivity-status {
    &__icon {
        font-size: 20px !important;
        height: 20px;
    }

    &__error-text {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #f56c6c;
        margin-left: 4px;
    }
}