.training-report-users {
  &__exam-score-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#training-report-users-data-table {
  .training-report-enrollment__deleted-row-cell {
    .cell {
      opacity: 0.5;
    }
  }
}
