.advanced-reports-card{
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  h3{
    color: #383B41;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  p{
    margin-bottom: 0;
    color: #383B41;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
