.ldap-field-mapping-disabled #tab-field-mapping {
    color: #383b41 !important;
    opacity: 0.5;
    cursor: auto;
}

.ldap-scheduled-syncs-disabled #tab-scheduled-syncs{
    color: #383b41 !important;
    opacity: 0.5;
    cursor: auto;
}