.btn-domain-add {
    .v-btn__content {
        margin: 0 10px;
    }

    .v-icon {
        margin-right: 4px !important;
    }
}

.saml-settings {
    .form-group-horizontal-content {
        max-width: 648px;
        margin-bottom: 8px;
    }

    &-text-area-disabled {
        .v-input__slot {
            background: #e0e0e0 !important;
        }
    }

    &-disabled-area {
        .form-group-horizontal-content {
            max-width: 840px;
            margin-bottom: 8px;

            >*:first-child {
                margin-top: 0;
            }
        }
    }

    &__mapping {
        align-items: flex-start;

        label {
            margin-top: 16px !important;
        }

        button {
            align-self: center;
        }
    }
}

.copy-to-clipboard__container.saml-domain {
    .v-text-field__details {
        display: block !important;
    }
}
