.dashboard-cards.roi-summary {
    background-image: linear-gradient(to bottom, #b27fc2, #66257a 96%);
}

.roi-summary__body-container {
    margin-top: 13px;

    @media (max-width: 1900px) {
        .body-row--2 {
            margin-left: 16px;
        }
    }

    @media (max-width: 1899px) and (min-width: 1500px) {
        .body-row--2 {
            margin-left: 16px;
        }
    }

    @media (max-width: 1499px) and (min-width: 1026px) {
        .body-row--2 {
            margin-left: 16px;
        }
    }

    @media (min-width: 1901px) {
        .body-row--2 {
            margin-left: 70px;
        }
    }
}