.sandbox {
    .k-table__wrapper .card {
        box-shadow: none !important;
        padding: 0px !important;
    }

    .v-card {
        border-radius: 12px;
        box-shadow: 0 5px 12px 2px rgba(200, 200, 200, 0.8);
        padding: 24px;
        padding-bottom: 0;
        width: 100%;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .title {
                width: 65%;

                h2 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.15;
                    letter-spacing: normal;
                    color: #2196f3;
                }

                p {
                    font-family: 'Open Sans', sans-serif !important;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: rgba(0, 0, 0, 0.87);
                }
            }

            .action {
                display: flex;

                .btn-action {
                    background-color: #2196f3 !important;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.71;
                    letter-spacing: normal;
                    padding: 0 !important;
                    height: 36px !important;
                    border-radius: 18px;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(33, 150, 243, 0.3);

                    i {
                        font-size: 19px !important;
                    }
                }
            }
        }
    }

    .filter-options {
        width: 155px;
    }

    .absolute-date-filter {
        position: absolute;
        top: 68px;
        background: white;
        width: 251px;
        padding: 15px;
        z-index: 9;
        border-radius: 8px;
        box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%) !important;
    }

    .roi-summary {
        background: #1173c1;
    }

    .dashboard-cards-loading {
        height: 150px;
    }

    .search-wrapper {
        background: #ffffff;
        border-radius: 8px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-right: 0;
        padding: 8px 12px;

        .edit-select {
            .v-text-field__details {
                display: none;
            }
        }

        .el-date-editor {
            margin-bottom: 0 !important;
        }

        >div {
            padding-right: 10px;
        }

        .filter-icon {
            color: rgba(0, 0, 0, 0.34) !important;
            cursor: pointer;
        }
    }

    .filter {
        &__icon {
            float: right;
            font-size: 20px;
            order: 1;
            margin-top: 7px;
        }

        &__body-container {
            background-color: white;
            padding: 20px 20px 0 20px;
            position: relative;
        }

        &__footer {
            display: flex;
            margin-right: -13px;
            justify-content: flex-end;
            position: sticky;
            bottom: 0;
            padding: 10px 0;
            padding-bottom: 0 !important;
            background: #fff;

            &-button {
                font-family: 'Open Sans', sans-serif !important;
                font-size: 14px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
            }
        }

        &__text {
            margin-top: -13px;
        }

        &__textfield {
            border-radius: 8px;
            border: solid 1px rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
        }
    }

    #tab-sandbox {
        .v-slide-group__content {
            border-bottom: 2px solid #e4e7ed;
            padding: 0 16px;
        }

        .v-tabs-slider-wrapper {
            color: #2196f3;
            bottom: -2px;
        }
    }
}

.sandbox__date-picker.el-picker-panel {
    z-index: 1000 !important;
}
